@use 'styles/mixins';

.root {
  display: flex;
  align-items: center;

  /* Input Shadow */
  box-shadow: 0 1px 2px 0 rgba(15, 23, 42, 0.16);

  border-radius: 8px;
  overflow: hidden;

  .button {
    @include mixins.centralize;
    padding: 8px;

    &.active {
      background: #dbeafe;
    }
  }
}
