@use 'styles/media';

.root {
  margin: 0 auto;
  max-width: 1320px;
  padding-top: 24px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media.mobile-only {
    padding: 0;
  }
}

.eventHeader {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
}

.content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 34px 24px 80px;
  width: 100%;

  @include media.mobile-only {
    padding: 20px 16px 60px;
    gap: 32px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.reachOut {
  color: var(--foreground-neutral-secondary, #455468);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;
  margin-bottom: 40px;

  .email {
    color: var(--foreground-brand-primary, #1b4dff);

    text-decoration: underline;
    text-underline-offset: .3em;
  }

  @include media.mobile-only {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
