.irlGatherings__cn {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
}

.irlGatherings {
  background-color: #f1f5f9;
}

.irlGatheings__locations {
  height: 177px;
  gap: 16px;
}

.irlGatherings__events {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.irlGatherings__irlsubHeader {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 10px 20px 0px 20px;
  background-color: #dbeafe;
}

@media (min-width: 360px) {
  .irlGatheings__follow {
    overflow: unset;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 20px;
    top: 78px;
    gap: 0px;
    z-index: 3;
  }
  .irlGatheings__huskyIntegration {
    max-width: 900px;
    margin-top: 20px;
    overflow: unset;
    display: flex;
    flex-direction: column;
  }
  .irlGatheings__locations {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: unset;
    background-color: #f1f5f9;
    height: 122px;
    padding: 10px;
    border-radius: unset;
    /* margin-right: 13px; */
    max-width: 782px;
  }

  .irlGatherings__events {
    border-radius: unset;
    margin: none;
  }
}

@media (min-width: 1024px) {
  .irlGatherings__irlsubHeader {
    display: none;
  }
  .irlGatheings__follow {
    width: 900px !important;
    margin-top: 20px;
    position: unset;
    top: unset;
    gap: unset;
    z-index: unset;
  }
  .irlGatheings__huskyIntegration {
    width: 900px !important;
    margin-top: 20px;
  }
  .irlGatherings {
    width: 900px;
    margin: auto;
  }

  .irlGatherings__additionalResources {
    width: 900px !important;
    margin-top: 10px;
  }

  .irlGatheings__locations {
    border-radius: 16px;
    height: 173px;
    border: 1px solid #cbd5e1;
    border-radius: 16px;
    gap: 16px;
    overflow: unset;
    position: relative;
    background-color: unset;
    max-width: 900px;
    z-index: 1;
  }

  .irlGatherings__events {
    overflow-x: unset;
    border-radius: 16px;
  }

  .irlGatheings__guests {
    padding-top: 40px;
  }
}

@media (min-width: 1440px) {
  .irlGatherings {
    width: 1244px;
  }

  .irlGatheings__locations {
    max-width: 1244px;
  }
}

@media (min-width: 1920px) {
  .irlGatherings {
    width: 1678px;
  }

  .irlGatheings__locations {
    max-width: 1678px;
  }
}

@media (min-width: 2560px) {
  .irlGatherings {
    width: 2240px;
  }

  .irlGatheings__locations {
    max-width: 2240px;
  }
}
