@use 'styles/media';

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(14, 15, 17, 0.06);

  @include media.mobile-only {
    padding: 32px 16px;
    gap: 24px;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.headlineText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.prepLabel {
  margin: 0 auto 4px;
  font-size: 24px;
  color: #798391;
  font-weight: 600;
  text-align: center;
}

.badgeDraft,
.badgeActive,
.badgeCompleted {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 8px;
  border-radius: 9999px;
}

.badgeDraft {
  background: rgba(27, 77, 255, 0.04);

  .badgeLabel {
    color: #4174ff;
  }
}

.badgeActive {
  background: rgba(10, 153, 82, 0.1);

  .badgeLabel {
    color: #11a75c;
  }
}

.badgeCompleted {
  background: rgba(14, 15, 17, 0.06);

  .badgeLabel {
    color: #455468;
  }
}

.dotDraft,
.dotActive,
.dotCompleted {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  flex-shrink: 0;
}

.dotDraft {
  background: #4174ff;
}

.dotActive {
  background: #11a75c;
}

.dotCompleted {
  background: #8898aa;
}

.badgeLabel {
  padding: 2px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.title {
  margin: 0;
  color: var(--foreground-neutral-primary, #0a0c11);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center;

  @include media.mobile-only {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.8px;
  }
}

.description {
  margin: 0;
  max-width: 600px;
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-align: center;

  :is(ul, ol) {
    text-align: left;
    display: inline-block;
    list-style-position: outside;
  }

  @include media.mobile-only {
    font-size: 16px;
    line-height: 22px;
  }
}
