@use '@/styles/mixins';
@use '@/styles/media';

.root {
  gap: 10px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 1 auto;
  padding: 0 10px;

  width: 100%;
  min-width: 0;
  min-height: 38px;
  height: 40px;

  border-radius: 8px;
  background: var(--background-base-white, #fff);
  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
  border: 1px solid var(--action-border-neutral-light_normal, rgba(14, 15, 17, 0.16));

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;

  &:hover,
  &:focus-within {
    border-color: #5e718d;
    box-shadow: 0 0 0 4px rgba(27, 56, 96, 0.12);
    background: #fff;
  }

  .input {
    flex: 1 1 auto;
    height: 100%;

    font-size: 14px !important;

    border: 0 !important;
    outline: none;
    border-radius: 8px;
    background: transparent;

    &:focus-visible {
      border: 1px solid #156ff7;
    }
  }
}
