@use "styles/mixins";
@use 'styles/media';

.root {
  @include mixins.centralize;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid #427DFF;
  background: #FFF;
  box-shadow: 0 0 0 2px rgba(21, 111, 247, 0.25), 0 1px 1px 0 rgba(15, 23, 42, 0.08);
  padding: 10px 8px;
  height: 40px;
  width: 100%;
}