@use '@/styles/mixins';
@use '@/styles/media';

.root {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: unset;
  position: relative;
  background: linear-gradient(0deg, #F1F5F9 0%, #F1F5F9 100%), #FFF;
  border-radius: 8px;

  @include media.tablet-landscape {
    min-width: 360px;
  }

  > input {
    border-radius: 8px;
    border: 1px solid #C5CED9;

    outline: none;
    flex: 1;
    height: 100%;
    background: transparent;
    padding: 10px 72px 10px 8px;

    &:focus-visible{
      border: 1px solid #156FF7;
    }
  }


  &:focus-within {
    background: #fff;
  }

  .flushButton {
    @include mixins.centralize;
    position: absolute;
    right: 8px;
    padding: 4px;
  }

  .clearButton {
    @include mixins.centralize;
    position: absolute;
    right: 40px;
    padding: 4px;
  }
}