@use "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 16px;
  min-height: calc(100dvh - 129px);
  position: relative;
  gap: 16px;

  border-left: 1px solid var(--Border-border-dark, #CBD5E1);
  background: var(--Surface-surface-light, #FFF);

  @include media.tablet-landscape {
    padding: 40px;
  }
}

.title {
  color: var(--foreground-neutral-primary, #0A0C11);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 135% */
  letter-spacing: -0.4px;
}
