@use 'styles/mixins';
@use 'styles/media';

.root {
  @include mixins.centralize;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  width: 100%;
  padding-inline: 16px;
  padding-top: clamp(12px, 4vw, 24px); // 24px;

  @include media.tablet-landscape {
    align-items: center;
    padding-top: 0;
  }
}

.title {
  color: #0f172a;
  text-align: left;
  font-size: clamp(18px, 5vh, 36px); // 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 120.462%; /* 43.366px */

  span {
    color: #156ff7;
  }

  @include media.tablet-landscape {
    text-align: center;
  }
}

.subtitle {
  overflow: hidden;
  color: var(--Text-text-info-darker, #475569);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  text-overflow: ellipsis;
  font-size: clamp(10px, 3vw, 14px); // 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-top: 8px;
}

.actionButton {
  display: flex;
  height: 50px;
  padding: 10px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-Slate-300, #cbd5e1);
  background: var(--Button-surface-brand-button, #156ff7);
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  color: var(--Text-text-lightest, #fff);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  margin-top: clamp(12px, 4vw, 32px);
  width: 100%;

  @include media.tablet-landscape {
    width: unset;
  }
}
