@use 'styles/media';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;

  @include media.tablet-landscape {
    flex-direction: row;
  }
}

.Label {
  color: #475569;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  display: flex;
  align-items: center;
  gap: 8px;
}

.Switch {
  position: relative;
  display: flex;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 1px;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  outline-offset: -1px;
  background-color: transparent;
  background-size: 6.5rem 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition-property: background-position, box-shadow;
  transition-timing-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
  transition-duration: 125ms;

  outline: rgb(255 255 255 / 15%) solid 1px;
  background-image: linear-gradient(to right, #156ff7 35%, var(--Neutral-Slate-200) 65%);

  &[data-checked] {
    box-shadow: none;
  }

  &:active {
    background-color: var(--Neutral-Slate-200);
  }

  &[data-checked] {
    background-position-x: 0;
  }

  &[data-checked]:active {
    background-color: #455468;
  }

  &:focus-visible {
    &::before {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: inherit;
      outline: 2px solid #156ff7;
      outline-offset: 2px;
    }
  }
}

.Thumb {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 100%;
  background-color: white;
  transition: translate 150ms ease;
  box-shadow:
    0 0 1px 1px rgb(0 0 0 / 25%),
    0 1px 1px rgb(0 0 0 / 25%),
    1px 2px 4px -1px rgb(0 0 0 / 25%);

  &[data-checked] {
    translate: 1rem 0;
  }
}
