.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inline {
  display: flex;
  align-items: center;
  gap: 12px;

  button {
    height: 50px;
    flex-shrink: 0;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.labelText {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.secondaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(14, 15, 17, 0.16);
  background: #fff;
  box-shadow:
    0px -2px 8px 0px rgba(14, 15, 17, 0.02) inset,
    0px 1px 2px 0px rgba(14, 15, 17, 0.08);
  color: var(--action-foreground-neutral-normal, #455468);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.primaryBtn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(14, 15, 17, 0.12);
  background: #1b4dff;
  box-shadow:
    0px 1px 3px 0px rgba(255, 255, 255, 0.32) inset,
    0px 1px 5px 0px rgba(27, 77, 255, 0.16);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
