@use 'styles/mixins';

.dropzone {
  @include mixins.centralize;
  position: relative;
  border-radius: 72px;
  border: 1px solid var(--Neutral-Slate-200, #e2e8f0);
  width: 72px;
  min-width: 72px;
  height: 72px;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(0, 0, 0, 0.45);
  opacity: 1;
}

.dropzoneHint {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
