@use 'styles/mixins';

.dropzone {
  @include mixins.centralize;
  position: relative;
  border-radius: 72px;
  border: 1px solid var(--Neutral-Slate-200, #e2e8f0);
  width: 72px;
  min-width: 72px;
  height: 72px;
  overflow: hidden;
}

.dropzoneHint {
  position: relative;
  z-index: 1;
  background: transparent;
}
