.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {

  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &.primary {
    font-weight: 600;
    color: #FFF;
  }
}