@use 'styles/media';
@use 'styles/mixins';

.subheader {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-shadow: 0px 1px 4px 0px #e2e8f0;
  height: 64px;
  padding: 8px 48px;

  @include media.tablet-landscape {
    display: flex;
    padding: 8px 48px;
  }
}

.backBtn {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;

  &:hover {
    filter: brightness(80%);
  }
}
