@use 'styles/media';

.toggleButton {
  padding: 4px 24px;
  border: 1px solid #cbd5e1;
  color: #ffff;
  box-shadow: 0 1px 1px 0 #0f172a14;
  background: #156ff7;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  white-space: nowrap;

  &.secondary {
    color: #156ff7;
    background: inherit;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    border: none;
    padding-right: 0;
    padding-left: 12px;
  }

  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000066;
}

.closeButton {
  position: absolute;
  border: none;
  top: 12px;
  right: 12px;
  background: transparent;
  user-select: none;
  outline: none;
}

.modalContent {
  background: white;
  border-radius: 12px;
  position: relative;
  padding: 12px;
  width: 100%;
  max-width: 656px;
  gap: 10px;

  @include media.tablet-landscape {
    padding: 24px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  color: #64748b;
  margin-top: 12px;
}

.form {
  margin-top: 24px;
}

.formBody {
  flex: 1;
  overflow: auto;
  padding: 0 4px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Turn off scrollbar */
  &::-webkit-scrollbar {
    background: transparent;
    border-radius: 0;
    display: none;
    height: 0;
    width: 0;
  }
}

.charCount {
  color: #64748b;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  align-items: flex-end;
  display: flex;
}

.dialogControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.primaryButton {
  padding: 10px 24px;
  border: 1px solid #cbd5e1;
  color: #ffff;
  box-shadow: 0 1px 1px 0 #0f172a14;
  background: #156ff7;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.secondaryButton {
  padding: 10px 24px;
  border: 1px solid #cbd5e1;
  box-shadow: 0 1px 1px 0 #0f172a14;
  background: inherit;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.errorButton {
  padding: 10px 24px;
  border: 1px solid #cbd5e1;
  color: #ffff;
  box-shadow: 0 1px 1px 0 #0f172a14;
  background: #dd2c5a;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.content {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #0f172a;
}
