.dialog {
  border-radius: 24px;
  border: none;
  width: 656px;
  min-height: 220px;
  margin: auto;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.box {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow:
    0 10px 20px -5px rgba(14, 15, 17, 0.06),
    0 20px 65px -5px rgba(14, 15, 17, 0.06);
}

.infoWrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 220px;
}

@media (min-width: 1024px) {
  .box {
    flex-direction: row;
    max-height: 598px;
    width: 656px;
    overflow: hidden;
  }
}
