.root {
  display: inline-flex;
  padding: var(--spacing-3xs, 6px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-zero, 0);

  border-radius: var(--corner-radius-Full-round, 9999px);
  background: var(--action-background-brand-light_normal, rgba(27, 77, 255, 0.04));
  box-shadow: 0 -1px 4px 0 var(--transparent-brand-8, rgba(27, 77, 255, 0.08)) inset;

  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  pointer-events: none;
  right: 16px;
  position: fixed;
  bottom: 24px;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}
