@use 'styles/media';

.alert {
  margin-bottom: 24px;
  display: flex;
  padding: var(--spacing-2xs, 8px);
  align-items: flex-start;
  gap: var(--spacing-3xs, 6px);
  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--border-neutral-muted, rgba(27, 56, 96, 0.24));
  background: var(--background-base-white, #fff);

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));

  @include media.mobile-only {
    margin-bottom: 20px;
  }
}

.alertContent {
  display: flex;
  gap: 10px;
  align-items: start;
  overflow: hidden;
}

.alertIcon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertText {
  flex: 1;
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;

  @include media.mobile-only {
    font-size: 14px;
    line-height: 22px;
  }
}
