.root {
  text-decoration: none;
  color: inherit;
  gap: 8px;
  display: grid;
  padding: 16px 15px;
  grid-template-columns: 32px 1fr;

  border-radius: 8px;
  border: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));
  background: var(--background-base-white, #fff);
  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
}

.nameStage {
  gap: 8px;
  display: flex;
  justify-content: space-between;
}

.name {
  color: var(--foreground-neutral-primary, #0a0c11);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4px;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 3px;
  padding-inline: 4px;
  height: fit-content;

  border-radius: 4px;
  border: 1px solid var(--border-neutral-muted, rgba(27, 56, 96, 0.24));
  background: var(--transparent-dark-2, rgba(14, 15, 17, 0.02));

  color: var(--foreground-neutral-secondary, #455468);

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.2px;
  white-space: nowrap;
}

.description {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;

  margin: 4px 0 8px;
}

.website {
  color: var(--foreground-brand-secondary_inverted, #4174ff);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.2px;

  gap: 4px;
  display: flex;
  align-items: center;

  padding: 2px 6px;
  width: fit-content;
  max-width: 210px;

  border-radius: 50px;
  background: var(--transparent-brand-4, rgba(27, 77, 255, 0.04));

  .globe {
    flex-shrink: 0;
  }

  .link {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
