.subtitle {
  color: var(--foreground-neutral-secondary, #455468);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.tips {
  gap: 12px;
  display: grid;
  overflow: hidden;
}

.tipsTitle {
  color: var(--foreground-neutral-primary, #0a0c11);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: center;
}

.tipsList {
  gap: 12px;
  display: grid;
  overflow: auto;
}

.topicsList {
  list-style: none;
  margin-left: 6px;
}

.submit {
  margin: 0 auto;
  max-width: 220px;
}
