.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.totalFoundLabel {
  color: var(--Neutral-Slate-500, #64748B);
  text-align: right;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}