@use 'styles/media';

.container {
  display: flex;
  width: 100%;
  padding: 20px 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  border-radius: var(--corner-radius-xl, 12px);
  border: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));
  background: var(--background-base-white, #fff);
  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
  margin: 0;
}

.description {
  color: var(--foreground-neutral-tertiary, #8897ae);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.2px;
  margin: 0;
}

.link {
  color: var(--foreground-neutral-tertiary, #8897ae);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-decoration: underline;
  transition: color 0.2s ease;

  &:hover {
    color: #455468;
  }
}
