@use 'styles/media';
@use 'styles/mixins';

.triggerButton {
  display: inline-flex;
  padding: 8px var(--global-size-size-125, 10px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-zero, 0px);

  border-radius: var(--corner-radius-Full-round, 9999px);
  border: 1px solid var(--transparent-dark-12, rgba(14, 15, 17, 0.12));
  background: var(--action-background-brand-normal, #1b4dff);
  box-shadow:
    0 1px 3px 0 var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset,
    0px 4px 6px 0px var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset,
    0px 1px 5px 0px var(--transparent-brand-16, rgba(27, 77, 255, 0.16));

  color: var(--action-foreground-base-inverted_white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  position: fixed;
  bottom: 16px;
  right: 16px;
}

.modal {
  @include mixins.hide-scrollbar;
  position: fixed;
  top: var(--app-header-height);
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 100dvh;
  z-index: 5;
  display: flex;
  justify-content: center;
  background: #00000066;
  overflow: auto;
  backdrop-filter: blur(5px);

  @include media.tablet-landscape {
    padding: 32px;
  }
}

.closeButton {
  position: absolute;
  border: none;
  top: 12px;
  right: 12px;
  background: transparent;
  user-select: none;
  outline: none;
  display: none;

  @include media.tablet-landscape {
    display: block;
  }
}

.modalContent {
  background: white;
  border-radius: 12px;
  position: relative;
  width: 100%;
  display: flex;
  height: fit-content;
  //min-height: calc(100dvh - 80px);
  flex-direction: column;

  @include media.tablet-landscape {
    padding: 24px;
    gap: 24px;
    //min-height: calc(100dvh - 220px);

    max-width: 852px;
  }
}

.headerWrapper {
  display: none;
  align-items: center;
  justify-content: space-between;

  @include media.tablet-landscape {
    display: flex;
  }
}

.header {
  display: flex;
  padding: var(--spacing-2xs, 8px) var(--spacing-md, 16px);
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  background: var(--background-base-white, #fff);
  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
  z-index: 1;

  @include media.tablet-landscape {
    display: none;
  }
}

.cancelBtn {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.submitBtn {
  color: var(--action-foreground-base-inverted_white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;

  display: flex;
  padding: var(--spacing-3xs, 6px) var(--global-size-size-125, 10px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-zero, 0);
  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--transparent-dark-12, rgba(14, 15, 17, 0.12));
  background: var(--action-background-brand-normal, #1b4dff);
  box-shadow:
    0 1px 3px 0 var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset,
    0 4px 6px 0 var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset,
    0 1px 5px 0 var(--transparent-brand-16, rgba(27, 77, 255, 0.16));

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.content {
  display: flex;
  padding: var(--spacing-xl, 24px) var(--spacing-md, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs, 10px);
  flex-shrink: 0;
  align-self: stretch;

  @include media.tablet-landscape {
    gap: 24px;
  }
}

.controls {
  display: none;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-md, 16px);
  width: 100%;

  @include media.tablet-landscape {
    display: flex;
  }

  .submitBtn {
    display: flex;
    padding: 10px var(--global-size-size-200, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-zero, 0px);
    border-radius: var(--corner-radius-md, 8px);
    border: 1px solid var(--transparent-dark-12, rgba(14, 15, 17, 0.12));
    background: var(--action-background-brand-normal, #1b4dff);

    min-width: 70px;

    /* Button/primay/fill */
    box-shadow:
      0px 1px 3px 0px var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset,
      0px 4px 6px 0px var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset,
      0px 1px 5px 0px var(--transparent-brand-16, rgba(27, 77, 255, 0.16));
  }
}

.logo {
  display: flex;
  white-space: nowrap;
  color: var(--Text-text-dark, #0f172a);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
}

.editor {
  :global(.ql-editor) {
    min-height: 20dvh;
  }

  @include media.tablet-landscape {
    :global(.ql-editor) {
      min-height: 20dvh;
    }
  }
}
