@use 'styles/media';
@use 'styles/mixins';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--corner-radius-zero, 0px);
  background: var(--Surface-surface-light, #fff);
  box-shadow: 0 1px 4px 0 #e2e8f0;
  min-height: 48px;

  position: sticky;
  top: var(--app-header-height);
  z-index: 1;

  @include media.tablet-landscape {
    margin: 16px 24px 0 24px;
    border-radius: 8px;
    padding: 0 20px;
  }
}

.tabsRoot {
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  overflow: auto;

  @include mixins.hide-scrollbar;
}

.tabsList {
  padding-inline: 0.25rem;
  gap: 0.25rem;
  box-shadow: inset 0 -1px var(--color-gray-200);
}

.tabsLabel {
  padding-inline: 0;
}

.triggerButton {
  display: none;
  padding: var(--spacing-3xs, 4px) var(--global-size-size-125, 10px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-zero, 0px);
  color: var(--action-foreground-base-inverted_white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--transparent-dark-12, rgba(14, 15, 17, 0.12));
  background: var(--action-background-brand-normal, #1b4dff);
  box-shadow:
    0 1px 3px 0 var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset,
    0px 4px 6px 0px var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset,
    0px 1px 5px 0px var(--transparent-brand-16, rgba(27, 77, 255, 0.16));

  @include media.tablet-landscape {
    display: inline-flex;
  }
}

.groupLink {
  margin-right: 16px;
  display: inline-flex;
  padding: var(--spacing-3xs, 4px) var(--global-size-size-125, 10px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-zero, 0px);
  color: #1b4dff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid #1b4dff05;
  background: #1b4dff0a;

  svg {
    margin-left: 4px;
  }
}

.actions {
  display: none;

  @include media.tablet-landscape {
    display: flex;
  }
}

.groupLinkMobileContainer {
  display: block;
  margin: auto;
  padding: 26px 24px;
  text-align: center;

  @include media.tablet-landscape {
    display: none;
  }
}

.groupLinkMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  width: 100%;
  border-radius: var(--corner-radius-xl, 12px);
  border: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));
  background: var(--background-base-white, #fff);
  white-space: nowrap;
}

.groupLinkMobileTitle {
  display: flex;
  color: var(--foreground-neutral-primary, #0a0c11);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.3px;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}
