.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
}