.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.home__cn {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.home__husky {
  width: 100%;
  position: sticky;
  top: 8px;
  z-index: 4;
  background: linear-gradient(71.47deg, #e0eaf9 8.43%, #e0f2f3 87.45%);
}

@media (min-width: 1024px) {
  .home__cn {
    width: 940px;
    padding: 50px 0px;
  }

  .home__cn {
    gap: 40px;
  }

  .home__husky {
    top: -60px;
  }
}

@media (min-width: 1280px) {
  .home__cn {
    width: 1200px;
  }
}

@media (min-width: 1440px) {
  .home__cn {
    width: 1200px;
  }
}

@media (min-width: 1920px) {
  .home__cn {
    width: 1678px;
  }
}
