@use 'styles/media';

.root {
  min-height: 20px;
  background: var(--Neutral-White);
  border-radius: 8px;
  box-shadow: 0 0 1px 0 rgba(15, 23, 42, 0.12), 0 4px 4px 0 rgba(15, 23, 42, 0.04);
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &.editView {
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(0deg, rgba(21, 111, 247, 0.20) 0%, rgba(21, 111, 247, 0.20) 100%), #FFF;
    box-shadow: 0 0 1px 0 rgba(15, 23, 42, 0.12), 0 4px 4px 0 rgba(15, 23, 42, 0.04);

    @include media.tablet-landscape {
      padding: 16px;
    }
  }
}
