.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000066;
    padding: 16px;
}

.closeButton {
    position: absolute;
    border: none;
    top: 12px;
    right: 12px;
    background: transparent;
    user-select: none;
    outline: none;
}

.modalContent {
    background: white;
    border-radius: 12px;
    position: relative;
    padding: 24px;
    width: 100%;
    max-width: 656px;
}

.formContentWrapper {
    background-color: #F1F5F9;
    padding: 12px;
    border-radius: 4px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.formContentWrapper label {
    font-size: 14px;
    font-weight: 400;
    color: #0F172A;
}

.dialogControls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.primaryButton {
    padding: 10px 24px;
    border: 1px solid #cbd5e1;
    color: #ffff;
    box-shadow: 0 1px 1px 0 #0f172a14;
    background: #156ff7;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.secondaryButton {
    padding: 10px 24px;
    border: 1px solid #cbd5e1;
    box-shadow: 0 1px 1px 0 #0f172a14;
    background: inherit;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.errorButton {
    padding: 10px 24px;
    border: 1px solid #cbd5e1;
    color: #ffff;
    box-shadow: 0 1px 1px 0 #0f172a14;
    background: #dd2c5a;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}

.confirmationMessage {
    margin-block: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #0F172A;
}

.toggleButton {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}