@use 'styles/mixins';

.root {
  @include mixins.centralize;
  flex-direction: column;
  height: 100%;
}

.imagePreview {
  border-radius: 50%;
  overflow: hidden;
}

.title {
  color: #0F172A;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 120.462%; /* 38.548px */
  margin-top: 32px;
}

.subtitle {
  overflow: hidden;
  color: #475569;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-top: 8px;
}

.actionButton {
  display: flex;
  height: 50px;
  padding: 10px 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Neutral-Slate-300, #CBD5E1);
  background: var(--Button-surface-brand-button, #156FF7);
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  color: var(--Text-text-lightest, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  margin-top: 32px;
}

.dropzoneHint {
  color: #1F2937;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;

  span {
    color: #156FF7;
  }
}

.dropzone {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 48px;
  max-width: 328px;
  width: 100%;

  border-radius: 12px;
  border: 1px dashed #CBD5E1;
  background: #FFF;
  box-shadow: 0 0 0 2px #F1F5F9;
}

.uploadRulesHint {
  color: #CBD5E1;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.07px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  width: 100%;
  max-width: 328px;
  margin-top: 24px;

}

.label {
  color: #475569;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

.input {
  display: flex;
  height: 50px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(203, 213, 225, 0.50);
  background: #FFF;
  outline: none;

  &:focus {
    border-radius: 8px;
    border: 1px solid rgba(66, 125, 255, 0.50);
    background: #FFF;
    box-shadow: 0 0 0 4px rgba(21, 111, 247, 0.10);
  }

  &.error {
    border-color: darkred;
  }
}

.errorMsg {
  font-size: 10px;
  color: darkred;
  font-feature-settings: 'liga' off, 'clig' off;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
}
