@use "styles/mixins";
@use 'styles/media';

.root {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 8px;

  .label {
    color: #64748B;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 4px;
  }

  .searchItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 8px;
    border-radius: 8px;
    background: #F8FAFC;
    cursor: pointer;
  }

  .searchItemText {
    color: #475569;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    flex: 1;
    text-align: left;
  }

  .removeButton {
    @include mixins.centralize;
    &:hover {
      filter: brightness(0.5);
    }
  }
}