@use 'styles/media';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-inline: 16px;
  border-bottom: 1px solid var(--border-neutral-subtle, rgba(27, 56, 96, 0.12));

  @include media.tablet-landscape {
    margin-bottom: 16px;
    height: unset;
    padding-inline: 0;
    border-bottom: none;
  }
}

.controls {
  align-items: center;
  gap: 8px;

  display: none;

  @include media.tablet-landscape {
    display: flex;
  }
}

.mobileCloseButton {
  display: flex;

  @include media.tablet-landscape {
    display: none;
  }
}

.title {
  font-feature-settings:
    'liga' off,
    'clig' off;

  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;
}

.btn {
  width: 100px;
}

.closeIcon {
  width: 20px;
  height: 20px;
  color: #455468;
}
