@use 'styles/media';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding-inline: 16px;
  border-bottom: 1px solid var(--border-neutral-subtle, rgba(27, 56, 96, 0.12));

  @include media.tablet-landscape {
    margin-bottom: 16px;
    height: unset;
    padding-inline: 0;
    border-bottom: none;
  }
}

.controls {
  align-items: center;
  gap: 8px;

  display: none;

  @include media.tablet-landscape {
    display: flex;
  }
}

.mobileCloseButton {
  display: flex;

  @include media.tablet-landscape {
    display: none;
  }
}

.title {
  color: #0f172a;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.secondaryButton {
  border-radius: 8px;
  border: 1px solid var(--Border-border-dark, #cbd5e1);
  background: var(--Surface-surface-light, #fff);
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  display: flex;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  color: var(--Text-text-dark, #0f172a);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.primaryButton {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Slate-300, #cbd5e1);
  background: var(--Button-surface-brand-button, #156ff7);
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  display: flex;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  color: var(--Text-text-lightest, #fff);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
    filter: gray(0.5);
  }
}
