.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.hint {
  color: var(--Neutral-Slate-600);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.12px;

  .link {
    color: #1b4dff;
  }
}
