@use 'styles/media';
@use 'styles/mixins';

.root {
  &.missingData {
    border-radius: 8px;
    border: 1px solid var(--border-brand-subtle, #aebfff);
  }
}

.incompleteStrip {
  color: var(--foreground-warning-secondary, #d97706);
}

.contentRoot {
  padding: 16px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social,
.socialPreview {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding-inline: 12px;
  padding-block: 12px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  border-top: 1px solid #e2e8f0;
  width: 100%;
  z-index: 1;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-inline: 6px;
}

.social {
  border-radius: 12px;
  background: #f8fafc;
  flex-wrap: wrap;
}

.socialPreview {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .bg1,
  .bg2 {
    position: absolute;
    inset: 0;
  }

  .bg1 {
    z-index: 0;
    border-radius: 12px;
    border: 2px solid rgba(21, 111, 247, 0.2);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(4px);
  }

  .bg2 {
    border-radius: 12px;
    border: 2px solid rgba(21, 111, 247, 0.2);
    background: url('/images/members/contact-details-overlay.png');
    background-blend-mode: soft-light, normal;
    box-shadow:
      4px 4px 26px 0 rgba(255, 255, 255, 0.25) inset,
      0 40px 80px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.1;
  }

  .loginButton {
    position: relative;
    border-radius: 40px;
    display: inline-flex;
    height: 40px;
    padding: 5px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border: 0.5px solid #cbd5e1;
    background: #156ff7;
    white-space: nowrap;

    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    @include media.mobile-only {
      width: 100%;
    }
  }

  .control {
    &.tablet {
      display: none;

      @include media.tablet-portrait {
        display: flex;
      }
    }

    &.mobileOnly {
      display: flex;
      width: 100%;

      @include media.tablet-portrait {
        display: none;
      }
    }
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.divider {
  height: 24px;
  background: #e2e8f0;
  width: 1px;
  margin-inline: 8px;
  display: none;

  @include media.tablet-portrait {
    display: block;
  }
}

.incomplete {
  opacity: 0.35;
  pointer-events: none;
  user-select: none;
}

.grayscale {
  //filter: grayscale(1) contrast(0.05) brightness(1.8);
  pointer-events: none;
  user-select: none;
}

.addLinkedinButton {
  border: none;
  background: none;
  cursor: pointer;
  color: #475569;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  white-space: nowrap;
  display: flex;
  padding: var(--spacing-5xs, 2px) var(--spacing-2xs, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5xs, 2px);


  border-radius: var(--corner-radius-Full-round, 9999px);
  background: var(--transparent-dark-6, rgba(14, 15, 17, 0.06));

  &:hover {
    color: #156ff7;
  }
}

.missingDataHeader {
  border-radius: 0;
  background: #eebd6c;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 8px;

  color: #0f172a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  @include media.tablet-landscape {
    border-radius: 8px 8px 0 0;
  }
}
