@use 'styles/media';

.root {
  min-height: 20px;
  background: var(--Neutral-White);
  border-radius: 8px;
  box-shadow: 0 0 1px 0 rgba(15, 23, 42, 0.12), 0 4px 4px 0 rgba(15, 23, 42, 0.04);
  padding: 16px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media.tablet-landscape {
    padding: 16px;
  }

  &.editView {
    padding: 0;
    border-radius: 8px;
    position: fixed;
    inset: 0;
    z-index: 10;

    @include media.tablet-landscape {
      padding: 16px;

      position: relative;
      inset: unset;
      z-index: unset;
      background: linear-gradient(0deg, rgba(21, 111, 247, 0.20) 0%, rgba(21, 111, 247, 0.20) 100%), #FFF;
      box-shadow: 0 0 1px 0 rgba(15, 23, 42, 0.12), 0 4px 4px 0 rgba(15, 23, 42, 0.04);
    }
  }

  &.missingData {
    border-radius: 8px;
    border: 1px solid #FDE68A;
  }

  .missingDataHeader {
    border-radius: 0;
    background: #EEBD6C;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 8px;

    color: #0F172A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    @include media.tablet-landscape {
      border-radius: 8px 8px 0 0;
    }
  }
}
