.root {
  gap: 4px;
  display: flex;
  align-items: center;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.checkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.label {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #455468;
  white-space: nowrap;
}

.labelYou {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: #0a9952;
  white-space: nowrap;
}
