.root {
  position: relative;
  overflow: hidden;
  padding-bottom: 24px;
  word-break: break-word;

  border-radius: 12px;
  background: var(--background-neutral-soft-surface, #f9fafb);

  &.collapsed {
    max-height: 138px;
  }
}

.content {
  padding: 16px;
}

.gradient {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  height: 114px;
  background: linear-gradient(
    to bottom,
    transparent 0,
    transparent 60%,
    #f9fafb 100%,
    var(--background-neutral-soft-surface, #f9fafb)
  );
  border-radius: 0 0 12px 12px;
  pointer-events: none;
}

.toggleBtn {
  color: #156ff7;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 24px;
  background: #f9fafb;

  &:hover {
    text-decoration: underline;
  }
}
