.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  color: #0F172A;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.secondaryButton {
  border-radius: 8px;
  border: 1px solid var(--Border-border-dark, #CBD5E1);
  background: var(--Surface-surface-light, #FFF);
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  display: flex;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  color: var(--Text-text-dark, #0F172A);
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.primaryButton {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Slate-300, #CBD5E1);
  background: var(--Button-surface-brand-button, #156FF7);
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  display: flex;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  color: var(--Text-text-lightest, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.body {
  display: flex;
  padding: 32px 72px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: #FFF;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}