@use 'styles/media';

.body {
  display: flex;
  padding: 16px 16px 92px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: #fff;

  overflow: auto;
  max-height: calc(100dvh - 56px);

  @include media.tablet-landscape {
    padding: 32px;
    max-height: unset;
    overflow: unset;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.infoBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  width: 100%;
}

.infoText {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #64748b;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputsLabel {
  color: #475569;
  font-feature-settings:
          'liga' off,
          'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  margin-bottom: 0.25rem;
}

.inputsWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.description {
  margin-top: 8px;
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.2px;
}

.teamOption {
  gap: 12px;
  display: flex;
  align-items: center;

  cursor: pointer;

  .optImg {
    display: block;
    border-radius: 4px;
  }
}

.secondaryLabel {
  color: var(--action-foreground-neutral-normal, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  .link {
    color: var(--foreground-brand-primary, #1B4DFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2px;
  }
}