@use 'styles/media';

.body {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 16px;
  background: #FFF;

  @include media.tablet-landscape {
    padding: 32px;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}