.schedule {
  width: 100%;
  height: calc(100vh - var(--app-header-height));
  min-height: calc(100vh - var(--app-header-height));
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.schedule__hdr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  flex-shrink: 0;
}

.schedule__hdr__btn {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.schedule__iframe {
  width: 100%;
  flex: 1;
  min-height: 0;
  border: none;
}

@media (min-width: 768px) {
  .schedule__hdr {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
