@use 'styles/media';

.root {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  @include media.tablet-portrait {
    gap: 16px;
  }

  @include media.tablet-landscape {
    flex-direction: row;
  }
}

.btn {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.15px;

  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid #1f4af8;

  width: 100%;
  height: 50px;

  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
  }

  &:focus {
    outline: 2px solid #156ff7;
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(0);
  }

  @include media.tablet-portrait {
    width: 230px;
  }
}

.primaryButton {
  font-weight: 400;
  background: #1b4dff;
  box-shadow:
    0px 1px 3px 0px inset rgba(255, 255, 255, 0.32),
    0px 4px 6px 0px inset rgba(255, 255, 255, 0.06),
    0px 1px 5px 0px rgba(27, 77, 255, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  color: #fff;

  &:hover {
    background: #1a45e6;
  }
}

.secondaryButton {
  color: var(--action-foreground-brand-inverted_normal, #1b4dff);
}

.link {
  color: var(--action-foreground-brand-inverted_normal, #1b4dff);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;

  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.registerButton {
  margin: 0 auto;
}
