.card {
  flex: 0 0 162px;
  min-width: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}

.headerSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  height: 150px;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.description {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.seeMore {
  font-weight: 500;
  color: #156ff7;
  cursor: pointer;
}

.footer {
  height: 72px;
  border-top: 1px solid #e2e8f0;
  display: flex;
  background-color: white;
}

.teamsSection {
  flex: 1;
  border-right: 1px solid #e2e8f0;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 12px;
  cursor: pointer;
}

.projectsSection {
  flex: 1;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.count {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.countText {
  display: flex;
  gap: 2px;
  align-items: center;
}
