@use 'styles/media';

.root {

}

.label {
  color: var(--Neutral-Slate-500, #64748B);
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.body {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Neutral-Slate-50, #F8FAFC);

  color: var(--Neutral-Slate-600, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.12px;

  &.missingData {
    border-radius: 12px;
    border: 1px solid rgba(238, 189, 108, 0.25);
    background: #FFF;
  }

  ul {
    padding: 6px 0px 6px 10px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;

  p {
    color: var(--Neutral-Slate-600, #475569);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.12px;
  }
}

.btn {
  display: flex;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 8px;
  border: 1px solid var(--Neutral-Slate-300, #CBD5E1);
  background: var(--Button-surface-brand-button, #156FF7);

  /* Button Shadow */
  box-shadow: 0 1px 1px 0 rgba(15, 23, 42, 0.08);

  color: var(--Text-text-lightest, #FFF);
  font-feature-settings: 'liga' off, 'clig' off;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  white-space: nowrap;

  .desktopOnly {
    display: none;

    @include media.tablet-landscape {
      display: inline;
    }
  }

  &:hover {
    filter: brightness(105%);
  }
}