.addProject__breadcrumb {
  /* display: none; */
  height: 48px;
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
  position: sticky;
  top: var(--app-header-height);
  z-index: 3;
  background-color: #fff;
}

.addProject {
  background-color: #f1f5f9;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.addProject__cnt {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .addProject__breadcrumb {
    height: 48px;
    display: flex;
    align-items: center;
  }
}

.backBtn {
  position: sticky;
  top: var(--app-header-height);
}
