.root {
  max-width: 480px;
  width: 100%;

  > div {
    overflow: visible;
    overflow-y: auto;
    width: 100%;
    align-items: stretch;
  }
}

.editor {
  width: 100%;

  :global(.ql-toolbar) {
    overflow: visible;
  }

  :global(.ql-picker-options) {
    z-index: 2;
  }

  :global(.ql-editor img) {
    max-width: 100%;
    height: auto;
  }
}
