.ddLabel {
  font-weight: 500;
}

.ddRoot {
  &:hover {
    border-color: #5e718d;
    box-shadow: 0 0 0 4px rgba(27, 56, 96, 0.12);
  }
}

.option {
  padding: 12px 16px;
  border-radius: 8px;
  color: var(--action-foreground-neutral-hover, #3D4A5C);
  font-weight: 500 !important;
  line-height: 20px;
  letter-spacing: -0.2px;

  &:hover {
    background-color: rgba(14, 15, 17, 0.06);
  }

  &.selectedOption {
    background-color: rgba(14, 15, 17, 0.06);
  }
}
