:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
/* .bioCn__content p {
  padding-bottom: 10px;
}

.bio__body__content p {
  padding-bottom: 10px;
}

.bioCn__content p:last-child {
  display: inline;
  padding-bottom: unset;
}

.bio__body__content p:last-child {
  display: inline;
  padding-bottom: unset;
} */

button {
  cursor: pointer;
}

.layout {
  /*height: 100dvh;*/
  /*position: relative;*/
  background-color: #f1f5f9;
}

html,
body {
  max-width: 100vw;
  min-height: 100dvh;
  height: 100dvh;
  overflow-x: hidden;
  /*overflow: auto;*/
  /*height: auto !important;*/
  /*overflow: initial !important;*/
  overscroll-behavior: none;
  scrollbar-gutter: stable;
  scrollbar-track-color: #fff;
}

.layout__header {
  min-height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

.layout__main {
  /*min-height: calc(100vh - 80px);*/
  /*padding-top: 80px;*/
}

.toast__body {
  font-size: 14px;
}

.toast_progress {
  background-color: #30c593;
}

.toast__toaster {
  border-radius: 8px;
  background-color: #1e293b;
}

.toast__class {
  margin-top: 60px;
}

textarea {
  font-family: inherit;
}

body {
  /*overflow-y: auto;*/
}

body:has(dialog[open]) {
  /*overflow: hidden !important; !* Disable scrolling when dialog is open *!*/
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: unset;
  background: unset;
}

::backdrop {
  background: black;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

::placeholder {
  color: #aab0b8;
}

dialog {
  outline: none;
}

.med__text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 14px !important;
    line-height: 24px;
    color: #475569;
  }
}

.all-member-container dialog {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
}

.list {
  height: 4000px;
}
@media (prefers-color-scheme: dark) {
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke;
  border-radius: 23px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 23px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

#md-editor-rt-preview {
  word-break: break-word;
}

.about__content a,
.desc__content a,
.bioCn__content a {
  text-decoration: underline;
  color: blue;
}
.asksec__allasks__ask__cont a {
  text-decoration: underline;
  color: blue;

}

.asks__tooltip__cnt__desc a {
  text-decoration: underline;
  color: blue;
}
.about__content ul,
.desc__content ul,
.bioCn__content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.about__content ol,
.desc__content ol,
.bioCn__content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.tox .tox-dialog {
  z-index: 40000 !important;
}

.tox.tox-tinymce-aux {
  z-index: 4000;
}

.member-grid__profile-container__outer-section__inner-circle__profile {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
}

.team-grid__profile-container__profile {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  position: absolute;
  background-color: #e2e8f0;
  right: 0;
  left: 0;
  margin: auto;
  top: 13px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.projectgrid__profile__img {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  position: absolute;
  background-color: #e2e8f0;
  right: 0;
  left: 0;
  margin: auto;
  top: 13px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.member-list-view__profile {
  border: 1px solid #e2e8f0;
  border-radius: 100%;
  width: 32px;
  height: 32px !important;
  min-width: 32px;
  min-height: 32px !important;
  position: absolute;
}

.team-list__profile-container__profile {
  height: 32px !important;
  width: 32px;
  min-width: 32px;
  min-height: 32px !important;
  background-color: #e2e8f0;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.projectlist__profile__img {
  height: 72px !important;
  width: 72px;
  min-width: 72px;
  min-height: 72px !important;
  background-color: #e2e8f0;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.projectgrid__maintainer__img {
  height: 20px !important;
  width: 20px;
  min-width: 20px;
  min-height: 20px !important;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  background-color: #e2e8f0;
  border-radius: 2px;
  border: 1px solid #e2e8f0;
}

.gtr__guestName__li__img {
  border-radius: 58px;
  background-color: #e5e7eb;
  object-fit: cover;
  height: 32px !important;
  width: 32px !important;
}

.gtr__team__link__img {
  border-radius: 4px;
  object-fit: cover;
  height: 32px !important;
  width: 32px !important;
}

.contributors__body__list__contributor__img {
  border-radius: 50%;
  height: 32px !important;
  width: 32px !important;
  object-fit: cover;
}

.contributors__body__list__contributor__img:hover {
  border: 2px solid #156ff7;
}

.contributor__info__img {
  border: 1px solid #e2e8f0;
  color: #e2e8f0;
  object-fit: cover;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
}

.root__irl__follwcnt__imgsec__images__img {
  height: 24px;
  width: 24px;
  border: 1px solid #156ff7;
  object-fit: cover;
  border-radius: 50%;
}

.root__follwcnt__imgsec__images__img {
  height: 16.45px;
  width: 16.45px;
  border: 1px solid #156ff7;
  object-fit: cover;
  border-radius: 50%;
}

.root__irl__imgsec__images__img {
  height: 18px;
  width: 18px;
  object-fit: cover;
  border-radius: 50%;
}

.root__irl__imgsec__images__img__mob {
  height: 15px;
  width: 15px;
  object-fit: cover;
  border-radius: 50%;
}

/* home page husky text area  */
.hec__content__box__search__input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #64748b;
}

/* home page husky text area  */
.hec__content__box__search__input {
  min-height: 40px !important;
  max-height: 60px !important;
}

/* home page husky text area  */
.hec__content__box {
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0;
  outline-color: #156ff7;
  border-radius: 8px;
}

.follower__info__img {
  border: 1px solid #e2e8f0;
  color: #e2e8f0;
  object-fit: cover;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
}

.asks__tooltip {
  min-height: 50px;
  width: 304px ;
  background-color: #fff ;
  overflow: unset;
  padding: 12px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid;
  left: -9px;
  border-image-source: linear-gradient(71.47deg, #427DFF 8.43%, #44D5BB 87.45%);
  position: relative;
  z-index: 3;
}

.asks__tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px; 
  border: 1px solid transparent;
  background: linear-gradient(71.47deg, #427DFF 8.43%, #44D5BB 87.45%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.button-link {
  color: #0f172a;
}

@media (min-width: 1024px) {
  .team-grid__profile-container__profile {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
    top: 20px;
  }

  .projectgrid__profile__img {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
    top: 20px;
  }

  .member-list-view__profile {
    width: 72px;
    height: 72px !important;
    min-width: 72px;
    min-height: 72px !important;
    position: unset;
  }

  .team-list__profile-container__profile {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
  }

  .projectlist__profile__img {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
  }

  .member-grid__profile-container__outer-section__inner-circle__profile {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
  }

  .projectgrid__maintainer__img {
    height: 20px !important;
    width: 20px;
    min-width: 20px;
    min-height: 20px !important;
  }

  .projectlist__details__maintainer__img {
    height: 20px !important;
    width: 20px;
    min-height: 20px !important;
    min-width: 20px !important;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    background-color: #e2e8f0;
    border-radius: 4px;
    border: 1px solid #e2e8f0;
  }

  /* home page husky text area  */
  .hec__content__box__search__input::placeholder {
    font-size: 14px;
  }

  /* home page husky text area  */
  .hec__content__box__search__input {
    padding: 22px 44px 22px 40px !important;
    min-height: 64px !important;
    max-height: 80px !important;
    margin-right: 60px !important;
  }

  /* home page husky text area  */
  .hec__content__input {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }

  /* home page husky text area  */
  .hec__content__input:focus-within {
    box-shadow: 0px 5px 6px 0px #00000024;
  }

  /* home page husky text area  */
  .hec__content__box:focus-within:not(:has(.hec__content__box__search__button:focus)) {
    outline: none;
    border-radius: 8px 8px 0px 0px ;
    box-shadow: unset;
  }

  /* home page husky text area  */
  .hec__content__box__search__input:placeholder-shown + .hec__content__box__search__instruction {
    display: flex;
  }

  /* home page husky text area  */
  .hec__content__box__search__input:not(:placeholder-shown) + .hec__content__box__search__instruction {
    display: none;
  }
}

[id]:not([data-exclude-from-url]) {
  scroll-margin-top: var(--scroll-margin-top, 80px);
}

.root {
  isolation: isolate;

  input {
    font-size: 16px !important;
  }
}

