:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
/* .bioCn__content p {
  padding-bottom: 10px;
}

.bio__body__content p {
  padding-bottom: 10px;
}

.bioCn__content p:last-child {
  display: inline;
  padding-bottom: unset;
}

.bio__body__content p:last-child {
  display: inline;
  padding-bottom: unset;
} */

 button {
  cursor: pointer;
 }

 .layout {
  height: 100dvh;
  position: relative;
  background-color:  #F1F5F9;
 }

html,
body {
  max-width: 100vw;
  min-height: 100dvh;
  height: 100dvh;
  overflow-x: hidden;
}

.layout__header {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
}

.layout__main {
  min-height: calc(100vh - 80px);
}

.toast__body {
  font-size: 14px;
}

.toast_progress {
  background-color: #30c593;
}

.toast__toaster {
  border-radius: 8px;
  background-color: #1e293b;
}

.toast__class {
  margin-top: 60px;
}

textarea {
  font-family:inherit;
}

body {
  overflow-y: auto;
}

body:has(dialog[open]) {
  overflow: hidden !important; /* Disable scrolling when dialog is open */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: unset;
}

::backdrop {
  background: black;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

::placeholder {
  color: #aab0b8;
}

dialog {
  outline: none;
}

.med__text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 14px !important;
    line-height: 24px;
    color: #475569;
  }
}

.all-member-container dialog {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {

}


.list {
  height: 4000px;
}
@media (prefers-color-scheme: dark) {
  
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke;
  border-radius: 23px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 23px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}


#md-editor-rt-preview {
  word-break: break-word;
  
}

.about__content a, .desc__content a,.bioCn__content a {
  text-decoration: underline;
  color: blue;
}

.about__content ul, .desc__content ul,.bioCn__content ul{
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.about__content ol, .desc__content ol,.bioCn__content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.tox .tox-dialog {
  z-index:  40000 !important;
}

.tox.tox-tinymce-aux {
  z-index: 4000;
}

.member-grid__profile-container__outer-section__inner-circle__profile {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
}

.team-grid__profile-container__profile {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  position: absolute;
  background-color: #e2e8f0;
  right: 0;
  left: 0;
  margin: auto;
  top: 13px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.projectgrid__profile__img {
  height: 36px;
  width: 36px;
  min-width: 36px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  position: absolute;
  background-color: #e2e8f0;
  right: 0;
  left: 0;
  margin: auto;
  top: 13px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.member-list-view__profile {
  border: 1px solid #e2e8f0;
  border-radius: 100%;
  width: 32px;
  height: 32px !important;
  min-width: 32px;
  min-height: 32px !important;
  position: absolute;
}

.team-list__profile-container__profile {
  height: 32px !important;
  width: 32px;
  min-width: 32px;
  min-height: 32px !important;
  background-color: #e2e8f0;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.projectlist__profile__img {
  height: 32px !important;
  width: 32px;
  min-width: 32px;
  min-height: 32px !important;
  background-color: #e2e8f0;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.projectgrid__maintainer__img {
  height: 28px !important;
  width: 28px;
  min-width: 28px;
  min-height: 28px !important;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  background-color: #e2e8f0;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
}

.gtr__guestName__li__img {
  border-radius: 58px;
  background-color: #e5e7eb;
  object-fit: cover;
  height: 32px !important;
  width: 32px !important;
}

.gtr__team__link__img {
  border-radius: 4px;
  object-fit: cover;
  height: 32px !important;
  width: 32px !important;
}

@media (min-width: 1024px) {
  
  .team-grid__profile-container__profile {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
    top: 20px;
  }

  .projectgrid__profile__img {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
    top: 20px;
  }

  .member-list-view__profile {
    width: 72px;
    height: 72px !important;
    min-width: 72px;
    min-height: 72px !important;
    position: unset;
  }

  .team-list__profile-container__profile {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
  }

  .projectlist__profile__img {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
  }

  .member-grid__profile-container__outer-section__inner-circle__profile {
    height: 72px !important;
    width: 72px;
    min-width: 72px;
    min-height: 72px !important;
  }

  .projectgrid__maintainer__img {
    height: 36px !important;
    width: 36px;
    min-width: 36px;
    min-height: 36px !important;
  }

  .projectlist__details__maintainer__img {
    height: 36px !important;
    width: 36px;
    min-height: 36px !important;
    min-width: 36px !important;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    background-color: #e2e8f0;
    border-radius: 4px;
    border: 1px solid #e2e8f0;
  }

}