.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__cn {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 20px;
}

.home__husky {
  width: 100%;
  position: sticky;
  top: -50px;
  z-index: 4;
  background: linear-gradient(71.47deg, #E0EAF9 8.43%,  #E0F2F3 87.45%);
}

@media (min-width: 1024px) {
  .home__cn {
    width: 940px;
    padding: 50px 0px;
  }

  .home__cn {
    gap: 40px;
  }

  .home__husky {
    top: -140px;
  }
}

@media (min-width: 1280px) {
  .home__cn {
    width: 1200px;
  }
}

@media (min-width: 1440px) {
  .home__cn {
    width: 1200px;
  }
}

@media (min-width: 1920px) {
  .home__cn {
    width: 1678px;
  }
}
