.team {
  height: inherit;
  display: flex;
  position: relative;
  overflow: auto;
  height: calc(100vh - 80px);
}

.team__left {
  width: 0px;
}

.team__right {
  flex: 1;
  height: inherit;
  overflow: hidden;
  background: #f1f5f9;
}

.team__left__filter {
  display: none;
}

.team__right__toolbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #fff;
  padding: 0 16px;
  height: 72px;
}

.team__right__toolbar__right__title {
  display: none;
}

.team__right__toolbar__right__filterbtn {
  width: 44px;
  height: 44px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(15, 23, 42, 0.16);
}

.team__right__toolbar__right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.team__right__toolbar__right__search {
  display: flex;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__toolbar__left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.team__right__toolbar__left__sort {
  width: 44px;
  height: 40px;
  border-radius: 8px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__toolbar__left__view {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__teamslist {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 31px;
  justify-content: center;
  align-items: center;
}

.team__right__teamslist__team {
  height: 267px;
  width: 289px;
  border-radius: 12px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 4px 4px 0px rgba(15, 23, 42, 0.04), 0px 0px 1px 0px rgba(15, 23, 42, 0.12);
}

.team__right__teamlist__team__profilec {
  height: 64px;
  position: relative;
  border-radius: 12px 12px 0px 0px;
  border-bottom: #e2e8f0;
  background: linear-gradient(180deg, #fff 0%, #e2e8f0 205.47%);
}

.team__right__teamlist__team__profilec__profile {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 20px;
  height: 72px;
  width: 72px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__teamlist__team__details {
  margin-top: 38px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.team__right__teamlist__team__detail__name {
  height: 28px;
  width: 120px;
  background-color: #e2e8f0;
  margin: auto;
  text-align: center;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__teamlist__team__details__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.team__right__teamlist__team__details__desc__firstLine {
  width: 200px;
  height: 15px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__teamlist__team__details__desc__secondLine {
  width: 180px;
  height: 15px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


.team__right__teamlist__team__details__desc__thirdLine {
  width: 220px;
  height: 15px;
  background-color: #e2e8f0;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.team__right__teamlist__team__tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.team__right__teamlist__team__tag {
  height: 25px;
  width: 51px;
  background-color: #e2e8f0;
  border-radius: 24px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


.team__left__filter__bl {
  stroke-width: 1px;
  stroke: #cbd5e1;
  width: 100%;
  border-top: 1px solid #cbd5e1;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@media (min-width: 1024px) {
  .team__right {
      display: flex;
      justify-content: center;
      padding: 32px 0px;
  }

  .team__rightcontainer {
      width: 900px;
      display: flex;
      gap: 24px;
      flex-direction: column;
  }

  .team__left__filter {
    display: unset;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    margin-top: 20px;
  }

  .team__left__filter__header {
    padding: 0px 34px;
    display: flex;
    justify-content: space-between;
  }

  .team__left__filter__header__title {
    background-color: #e2e8f0;
    height: 20px;
    width: 55px;
    border-radius: 4px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__left__filter__head__clearAll {
    background-color: #e2e8f0;
    height: 20px;
    width: 50px;
    border-radius: 4px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .team__left__filter__body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 170px);
    gap: 20px;
    overflow: hidden;
  }

  .team__left__filter__body__tagContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  .team__left__filter__body__tagContainer__title {
    width: 137px;
    height: 20px;
    background-color: #e2e8f0;
    border-radius: 4px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__left__filter__body__tagContainer__tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
  }

  .team__left__filter__body__tagContainer__tags__tag {
    height: 26px;
    width: 70px;
    border-radius: 24px;
    background-color: #e2e8f0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__left__filter__body__tagContainer__tags__tag1 {
    height: 26px;
    width: 90px;
    border-radius: 24px;
    background-color: #e2e8f0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__left__filter__body__tagContainer__tags__tag2 {
    height: 26px;
    width: 80px;
    border-radius: 24px;
    background-color: #e2e8f0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__left__filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .team__left__filter__includepln {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .team__left__filter__includepln__content {
    background-color: #e2e8f0;
    height: 40px;
    width: 179px;
    border-radius: 4px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__left__filter__body {
    padding: 0px 34px;
  }

  .team__left__filter__includepln__switch {
    height: 20px;
    width: 36px;
    border-radius: 4px;
    background-color: #e2e8f0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__right {
    flex: 1;
    background:  #F1F5F9;
  }

  .team__left {
    width: 300px;
    border-right: 1px solid #e2e8f0;
    background: #fff;
    height: calc(100vh - 80px);
  }

  .team__right__toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: unset;
  }

  .team__right__teamslist {
    margin-top: 0px;
  }

  .team__right__toolbar__right__title {
    display: unset;
    width: 134px;
    height: 40px;
    background-color: #e2e8f0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .team__right__toolbar__right__search {
    width: 216px;
  }

  .team__right__toolbar__right__filterbtn {
    display: none;
  }

  .team__right__toolbar__left {
    gap: 16px;
  }

  .team__right__toolbar__left__sort {
    width: 160px;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
