.irlDetail {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.irlDetailMn {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.irlDetailMn__bc {
  min-height: 24px;
  width: 52px;
  background-color: #e2e8f0;
  margin: 10px 20px;
}

.irlDetailMn__banner {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.irlDetailMn__banner__img {
  height: 153px;
  background-color: #e2e8f0;
  border-radius: 8px;
}

.irlDetailMn__banner__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.irlDetailMn__banner__info__hdr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.irlDetailMn__banner__info__hdr__ttl {
  height: 24px;
  background-color: #e2e8f0;
  width: 180px;
}

.irlDetailMn__banner__info__hdr__tags {
  display: flex;
  gap: 12px;
}

.irlDetailMn__banner__info__hdr__tags__tag {
  height: 28px;
  width: 120px;
  background-color: #e2e8f0;
  border-radius: 24px;
}

.irlDetailMn__banner__info__desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.irlDetailMn__banner__info__desc__first {
  height: 20px;
  width: 80%;
  background-color: #e2e8f0;
}

.irlDetailMn__banner__info__desc__second {
  height: 20px;
  width: 70%;
  background-color: #e2e8f0;
}

.irlDetailMn__banner__info__desc__third {
  height: 20px;
  width: 80%;
  background-color: #e2e8f0;
}

.irlDetailMn__tb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
  padding: 20px;
}

.irlDetailMn__tb__ttl {
  height: 22px;
  width: 121px;
  background-color: #e2e8f0;
}

.irlDetailMn__tb__btn {
  width: 150px;
  background-color: #e2e8f0;
  border-radius: 8px;
  height: 40px;
}

.irlDetailMn__tb__search {
  width: 100%;
  height: 40px;
  background-color: #e2e8f0;
  border-radius: 4px;
}

.irlDetailMn__table {
  background-color: #fff;
  width: 900px;
}

.irlDetailMn__table__hdr {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #e2e8f0;
  padding: 0px 20px;
}

.irlDetailMn__table__hdr__ttlWrpr {
  flex: 1;
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.irlDetailMn__table__hdr__ttl {
  width: 150px;
  height: 16px;
  background-color: #e2e8f0;
}

.irlDetailMn__table__body__row {
  height: 74px;
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
  border-bottom: 1px solid #e2e8f0;
}

.irlDetailMn__table__body__row__first {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}

.irlDetailMn__table__body__row__first__img {
  width: 32px;
  height: 32px;
  background-color: #e2e8f0;
  border-radius: 50%;
}

.irlDetailMn__table__body__row__first__txt {
  width: 70px;
  height: 16px;
  background-color: #e2e8f0;
}

.irlDetailMn__table__body__row__second {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}

.irlDetailMn__table__body__row__second__img {
  width: 32px;
  height: 32px;
  background-color: #e2e8f0;
  border-radius: 8px;
}

.irlDetailMn__table__body__row__second__txt {
  width: 70px;
  height: 16px;
  background-color: #e2e8f0;
}

.irlDetailMn__table__body__row__third {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
}

.irlDetailMn__table__body__row__third__tag {
  height: 20px;
  width: 60px;
  background-color: #e2e8f0;
  border-radius: 24px;
}

.irlDetailMn__table__body__row__fourth {
  display: flex;
  align-items: center;
  flex: 1;
}

.irlDetailMn__table__body__row__fourth__txt {
  width: 80px;
  height: 16px;
  background-color: #e2e8f0;
}

@media (min-width: 1024px) {
  .irlDetailMn {
    padding: 40px 0px;
    width: 900px;
  }

  .irlDetailMn__bc {
    width: 150px;
    margin: 10px 0px;
  }

  .irlDetailMn__banner {
    border-radius: 8px;
  }

  .irlDetailMn__banner__info__hdr {
    flex-direction: row;
    justify-content: space-between;
  }

  .irlDetailMn__table {
    border-radius: 8px;
  }

  .irlDetailMn__tb {
    justify-content: unset;
    flex-wrap: unset;
    padding: 20px 0px;
  }

  .irlDetailMn__tb__search {
    width: 300px;
    order: 2;
    margin-left: 10px;
  }

  .irlDetailMn__tb__btnWrpr {
    order: 3;
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
