.irlDetails {
  display: flex;
  justify-content: center;
  padding-top: px;
  background-color: #f1f5f9;
  min-height: calc(100vh - 80px);
}

.irlDetailsWrpr {
  display: flex;
  width: calc(100% - 1px);
  flex-direction: column;
  align-items: center;
}

.irlDetails__nav {
  height: 36px;
  width: 100%;
}

.irlDetails__banner {
  margin: 0px 0px 2px 0px;
  width: calc(100% - 2px);
  background-color: #fff;
}

.irlDetails__resources {
  margin-top: 8px;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  padding: 20px;
}

.irlDetails__loginStrip {
  position: sticky;
  top: 40px;
  margin-top: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .irlDetails {
    padding-top: 40px;
  }

  .irlDetailsWrpr {
    width: 900px;
    padding-inline: 0px;
  }
  .irlDetails__nav {
    height: unset;
    padding-bottom: 8px;
  }

  .irlDetails__banner {
    border-radius: 8px;
  }

  .irlDetails__loginStrip {
    top: 83px;
    margin-top: 16px;
  }
}
