@use 'styles/media';
@use 'styles/mixins';

.root {
  padding: 2px 16px;
  background: #dbeafe;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  display: flex;
  gap: 4px;
  color: #000;
  justify-content: center;

  @include media.tablet-landscape {
    border-radius: 8px 8px 0 0;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;

    @include media.tablet-landscape {
      gap: 4px;
      padding: 8px 16px;
    }
  }

  .loginIcon {
    margin-top: 3px;
  }

  .loginButton {
    color: #1d4ed8;
    font-weight: 700;
    cursor: pointer;
  }

  .descName {
    @include mixins.ellipse-text;
    max-width: 300px;
  }

  &.secondary {
    background: #156FF7;
    color: #F1F5F9;
    font-weight: 400;

    .loginButton {
      color: #ffffff;
    }

    .loginIcon {
      @include mixins.centralize;
      margin-top: 0;

      > img {
        width: 14px;
        height: 14px;
      }

      @include media.tablet-landscape {
        > img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}