.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;

  &:focus-within {
    border-color: #5E718D !important;
    box-shadow: 0 0 0 4px rgba(27, 56, 96, 0.12) !important;
  }

  &.error {
    border: 1px solid darkred;
  }
}

.error {
  font-size: 10px;
  color: darkred;
  font-feature-settings: 'liga' off, 'clig' off;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
  margin-top: 2px;
}

.editor {
  :global(.ql-toolbar) {
    border-color: rgba(203, 213, 225, 0.50);
    border-radius: 8px 8px 0 0;
  }

  :global(.ql-container) {
    border-color: rgba(203, 213, 225, 0.50);
    border-radius: 0 0 8px 8px;
  }

  :global(.ql-editor) {
    //min-height: 100px;
    font-size: 16px;
    word-break: break-all;
  }

  :global(.ql-formats.ql-formats) {
    margin-right: 8px;
  }
}