@use 'styles/media';
@use 'styles/mixins.scss';
@import 'components/form/FormSwitch/FormSwitch.module';

.title {
  color: #0f172a;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.groupTitle {
  color: var(--foreground-neutral-primary, #0a0c11);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
}

.groupDescription {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;
  margin-top: 8px;
}

.toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;

  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;
}

.ohBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cleaarAllButton {
  color: var(--action-foreground-brand-inverted_normal, #1b4dff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;
}

.delimiter {
  width: calc(100% + 28px);
  height: 1px;
  border-top: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));
  margin: 6px 0;
  margin-left: -16px;
}
