@use 'styles/mixins';
@use 'styles/media';

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.label {
  color: #475569;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  margin-bottom: 0.25rem;

  &.required:after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input {
  display: flex;
  min-height: 80px;
  padding: 0 2px 0 0;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(203, 213, 225, 0.5);
  background: #fff;
  outline: none;

  &:focus-within {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #5e718d !important;
    box-shadow: 0 0 0 4px rgba(27, 56, 96, 0.12) !important;
  }

  &.error {
    border-color: var(--action-border-error-focus);

    textarea {
      color: var(--action-border-error-focus);
    }
  }
}

.inputContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1;
  width: 100%;
}

.inputElement {
  @include mixins.placeholder {
    color: #cbd5e1;
  }
  padding: 10px 12px;
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: #455468;
  //resize: vertical;
  min-height: 60px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  resize: none;
}

.description {
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
  color: #878b94;
  margin-top: 0.25rem;
}

.errorMessage {
  font-size: 10px;
  color: var(--action-border-error-focus);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
  margin-top: 0.25rem;
}

.charCounter {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  margin-top: 0.25rem;
}

.charCount {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.2px;
}

.charCountError {
  color: #dc2626;
}
