@use 'styles/media';

$transition-duration: 0.5s;

.root {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
}

.header {
  color: #0a0c11;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.75px;

  margin: 10px auto 45px auto;
  max-width: 600px;

  @include media.mobile-only {
    font-size: 26px;
    line-height: 32px;
  }
}

.subheader {
  color: #5e718d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;

  margin: 12px 0 35px 0;

  @include media.desktop {
    font-size: 20px;
    line-height: 27px;

    margin-bottom: 48px;
  }
}

.gridContainer {
  position: relative;
}

.grid {
  gap: 22px;
  display: grid;
  flex-shrink: 0;
  transition: max-height $transition-duration ease;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  width: 100%;
  max-height: 380px;
  overflow: hidden;

  .expanded & {
    max-height: 2000px;
  }

  @include media.desktop {
    grid-template-columns: repeat(5, minmax(0, 1fr));

    .expanded & {
      max-height: 1000px;
    }
  }
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 75%;
  max-height: 75%;

  @include media.mobile-only {
    max-width: 100%;
    max-height: 100%;
  }
}

.bottomShadow {
  bottom: 0;
  position: absolute;

  transition: height $transition-duration ease;

  width: 100%;
  height: 150px;

  background: linear-gradient(transparent, #fff 100%);

  .expanded & {
    height: 0;
  }
}

.btn {
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  margin-top: 22px;
}
