@use 'styles/media';

$transition-duration: 0.5s;

.root {
  width: 100%;
  max-width: 1146px;
  margin: 0 auto;
}

.header {
  color: #0a0c11;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.75px;

  margin: 10px auto 45px auto;
  max-width: 600px;

  @include media.mobile-only {
    font-size: 26px;
    line-height: 32px;
  }
}

.subheader {
  color: #5e718d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;

  margin: 12px 0 35px 0;

  @include media.desktop {
    font-size: 20px;
    line-height: 27px;

    margin-bottom: 48px;
  }
}

.gridContainer {
  position: relative;
}

.grid {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 286px));
  grid-template-rows: repeat(auto-fit, minmax(0, 148px));

  transition: max-height $transition-duration ease;

  margin: 0 auto;
  max-height: 316px;
  width: fit-content;
  overflow: hidden;

  .expanded & {
    max-height: 4700px;
  }

  @include media.tablet-portrait {
    grid-template-columns: repeat(2, minmax(0, 286px));

    .expanded & {
      max-height: 2400px;
    }
  }

  @include media.tablet-landscape {
    grid-template-columns: repeat(3, minmax(0, 286px));

    .expanded & {
      max-height: 1700px;
    }
  }
}

.btn {
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  margin-top: 22px;
}
