@use 'styles/media';
@use 'styles/mixins';

.root {
  color: var(--action-foreground-neutral-normal, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;
  padding-inline: 12px;

  outline: none;

  &:hover {
    filter: brightness(120%);
  }
}