@use 'styles/mixins';
@use 'styles/media';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  //padding-bottom: 16px;

  @include media.tablet-landscape {
    border-radius: 0;
    padding-bottom: 0;
  }

  &.isWelcomeStep {
    margin-top: -16px;

    @include media.tablet-landscape {
      margin-top: 0;
    }
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  padding-bottom: clamp(12px, 4vw, 24px); // 24px;

  @include media.tablet-landscape {
    align-items: center;
  }
}

.illustration {
  background: linear-gradient(180deg, #204bba 0%, #156ff7 100%);
  flex: 1;
  display: flex;
  //min-height: 400px;

  @include media.tablet-landscape {
    border-radius: 16px;
  }
}

.modal {
  @include mixins.hide-scrollbar;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 100dvh;
  z-index: 10;
  display: flex;
  justify-content: center;
  background: #00000066;
  overflow: auto;

  @include media.tablet-landscape {
    padding: 32px;
  }
}

.closeButton {
  position: absolute;
  border: none;
  top: 12px;
  right: 12px;
  background: transparent;
  user-select: none;
  outline: none;
  display: none;
}

.modalContent {
  background: white;
  border-radius: 12px;
  position: relative;
  width: 100%;
  max-width: 1344px;
  display: flex;
  height: fit-content;
  min-height: 100dvh;
  flex-direction: column;

  @include media.tablet-landscape {
    flex-direction: row;
    padding: 24px;
    min-height: 90dvh;
    gap: 24px;
  }
}

.logo {
  position: absolute;
  left: 16px;
  top: 16px;
}
