.root {
  display: flex;
  padding-right: 4px;
  align-items: flex-start;
}

.avatar {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  border: 1px solid white;
  margin-right: -4px;
  overflow: hidden;
  background-color: #e5e7eb;

  &:last-child {
    margin-right: 0;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9999px;
  }
}

.avatarAttended {
  border-color: #11a75c;
}
