@use '../../../../../../../../styles/media';

.root {
  gap: 4px;
  display: flex;
  align-items: center;

  padding: 6px 12px;

  cursor: pointer;
  background-color: transparent;

  &.preferred {
    border-radius: 0 4px 4px 0;
  }

  &.notPreferred {
    border-radius: 4px;
  }
}

.link {
  color: #0f172a;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  display: inline-block;
  overflow: hidden;
  text-wrap: nowrap;
  max-width: 100px;
  text-overflow: ellipsis;

  @include media.breakpoint-1024 {
    max-width: 150px;
  }
}
