@use 'styles/mixins';
@use 'styles/media';

.root {
  @include mixins.centralize;
  flex-direction: column;
  min-height: calc(100dvh - 80px);
  background: #fff;
}

.hero {
  max-width: 300px;
}

.title {
  color: var(--foreground-neutral-primary, #0A0C11);
  text-align: center;
  font-size: clamp(24px, 5vw, 40px);
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
  letter-spacing: -1.5px;
}

.desc {
  color: var(--foreground-neutral-secondary, #455468);
  text-align: center;
  font-size: clamp(14px, 3vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.4px;

  margin-top: 14px;
}

.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;

  @include media.tablet-landscape {
    flex-direction: row;
  }
}

.btnSecondary {
  display: flex;
  width: 290px;
  padding: 17px var(--global-size-size-250, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5xs, 2px);

  border-radius: var(--corner-radius-xl, 12px);
  border: 1px solid var(--action-foreground-brand-normal, #1B4DFF);
  background: var(--action-background-base-white, #FFF);
  box-shadow: 0 2px 8px 0 var(--transparent-brand-4, rgba(27, 77, 255, 0.04)) inset, 0px 1px 4px 0px var(--transparent-brand-24, rgba(27, 77, 255, 0.24));
  color: var(--action-foreground-brand-inverted_normal, #1B4DFF);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.4px;

  &:hover {
    filter: brightness(120%);
  }
}

.btnPrimary {
  display: flex;
  width: 290px;
  padding: 17px var(--global-size-size-250, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5xs, 2px);
  border-radius: var(--corner-radius-xl, 12px);
  border: 1px solid var(--transparent-dark-12, rgba(14, 15, 17, 0.12));
  background: var(--action-background-brand-normal, #1B4DFF);
  box-shadow: 0 1px 3px 0 var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset, 0 4px 6px 0 var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset, 0px 1px 5px 0px var(--transparent-brand-16, rgba(27, 77, 255, 0.16));
  color: var(--action-foreground-base-inverted_white, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.4px;

  &:hover {
    filter: brightness(120%);
  }
}