.irlGatherings__cn {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f9;
}

.irlGatherings {
  background-color: #f1f5f9;
}

.irlGatheings__locations {
  height: 177px;
  border-radius: 16px;
  padding: 16px;
  gap: 16px;
}

.irlGatherings__events {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #0F172A0A;
  box-shadow: 0px 4px 4px 0px #0F172A0A;
  max-height: 472px;
  /* width: 900px; */
}

@media (min-width: 360px) {
  .irlGatheings__locations {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: none;
    background-color: #E4EDF7;
    height: 122px;
    padding: 10px;
    border-radius: unset;
    margin-right: 10px;
  }

  .irlGatherings__events {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: unset;
    margin: none;
  }
}

@media (min-width: 1024px) {
  .irlGatherings {
    padding-top: 40px;
    width: 900px;
    margin: auto;
  }

  .irlGatheings__locations {
    border-radius: 16px;
    height: 177px;
    border: 1px solid #0f172a0a;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    overflow: unset;
    position: relative;
  }

  .irlGatherings__events {
    overflow-x: unset;
    border-radius: 16px;
  }
  
  .irlGatheings__guests {
    padding-top: 32px;
  }
}
