@use 'styles/media';

.root {
  min-height: 20px;
  background: var(--Neutral-White);
  border-radius: 8px;
  box-shadow:
    0 0 1px 0 rgba(15, 23, 42, 0.12),
    0 4px 4px 0 rgba(15, 23, 42, 0.04);
  padding: 16px;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &.editView {
    padding: 0;
    border-radius: 8px;
    position: fixed;
    inset: 0;
    z-index: 10;

    @include media.tablet-landscape {
      padding: 16px;

      position: relative;
      inset: unset;
      z-index: unset;
      background: linear-gradient(0deg, rgba(21, 111, 247, 0.2) 0%, rgba(21, 111, 247, 0.2) 100%), #fff;
      box-shadow:
        0 0 1px 0 rgba(15, 23, 42, 0.12),
        0 4px 4px 0 rgba(15, 23, 42, 0.04);
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
