@use 'styles/media';

.body {
  display: grid;
  padding: 16px 16px 92px;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 8px;
  align-self: stretch;
  border-radius: 16px;
  background: #fff;

  overflow: auto;
  max-height: calc(100dvh - 56px);

  img {
    display: none;
  }

  @include media.tablet-landscape {
    padding: 32px;
    max-height: unset;
    overflow: unset;
    grid-gap: 24px;

    img {
      display: block;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.switchDesc {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.2px;
}
