@use '@/styles/media';

.root {
  display: flex;
  flex-direction: column;
}

.expandButton {
  outline: none;
  background: inherit;
  border: none;
  cursor: pointer;
  min-height: 16px;
  min-width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.7;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.descriptionContainer {
  margin-top: 12px;
  border-radius: 4px;
  background-color: #f1f5f9;
  padding: 8px;
}

.description {
  word-break: break-word;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #475569;
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}

.expandIcon {
  flex-shrink: 0;
  color: #455468;
  transition: transform 0.3s ease;

  &.expanded {
    transform: rotate(90deg);
  }
}
