@use 'styles/media';

.section {
  padding: 16px;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;

  border-radius: 12px;
  background: var(--Neutral-Slate-50, #f8fafc);

  display: grid;

  grid-template-columns: 1fr;

  @include media.tablet-landscape {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.teamInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.teamLogo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--border-neutral-subtle, rgba(27, 56, 96, 0.12));
}

.teamCol {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.teamName {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  .linkIcon {
    color: #1b4dff;
  }
}

.teamTag {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.2px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
