.saveTrigger {
  appearance: none;
  border: none;
  background: none;
  font: inherit;
  margin: 0;
}

.saved.saved {
  color: var(--foreground-brand-primary, #1b4dff);

  &:hover {
    color: var(--foreground-brand-primary, #1b4dff);
  }
}

.toast.toast {
  width: fit-content;
}
