.root {
  box-sizing: border-box;
  display: flex;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;

  &[data-unchecked] {
    border: 1px solid var(--Neutral-Slate-300, #cbd5e1);
    background-color: transparent;
  }

  &:focus-visible {
    outline: 2px solid #156ff7;
    outline-offset: 2px;
  }

  &.checked,
  &.indeterminate {
    background-color: #156ff7;
  }
}

.indicator {
  display: flex;
  color: var(--Neutral-White, #fff);
}

.icon {
  width: 0.75rem;
  height: 0.75rem;
}
