@use 'styles/media';

.profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logoTagsContainer {
  display: flex;
  gap: 8px;
  width: 100%;

  @include media.breakpoint-1024 {
    gap: 24px;
  }
}

.teamLogo {
  height: 48px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  background-color: #e2e8f0;
  width: 48px;

  @include media.breakpoint-1024 {
    height: 80px;
    width: 80px;
  }
}

.nameTagContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 8px;

  @include media.breakpoint-1024 {
    gap: 12px;
  }
}

.nameAndActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teamName {
  color: #0f172a;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  width: fit-content;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  @include media.breakpoint-1024 {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
  }
}

.tags {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.delimiter {
  height: 24px;
  border-right: 1px solid rgba(14, 15, 17, 0.06);
}

.fundingStage {
  padding: 2px 8px;
  border-radius: 4px;
  background: rgba(14, 15, 17, 0.16);
  color: #455468;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.notification {
  border-radius: 24px;
  border: none;
  height: 40px;
  width: 40px;
  background-color: inherit;
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.delete {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #dc2626;
  align-items: center;
  height: fit-content;
  background: none;
  border: none;
  white-space: nowrap;
  gap: 8px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.iTag {
  color: #4174ff;
  background: rgba(27, 77, 255, 0.16);
}
