@use 'styles/media';

.profile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.logoTagsContainer {
  display: flex;
  gap: 8px;
  width: 100%;

  @include media.breakpoint-1024 {
    gap: 24px;
  }
}

.teamLogo {
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  background-color: #e2e8f0;
  object-fit: cover;
  width: 55px !important;
  height: 55px !important;

  @include media.breakpoint-1024 {
    height: 74px !important;
    width: 74px !important;
  }
}

.nameTagContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 8px;

  @include media.breakpoint-1024 {
    gap: 16px;
  }
}

.nameAndActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teamName {
  color: #0f172a;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  width: fit-content;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  @include media.breakpoint-1024 {
    font-size: 24px;
    line-height: 32px;
    width: 100%;
  }
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.tags2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.tags3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.fundingStage {
  padding: 2px 8px;
  border-radius: 4px;
  background: rgba(14, 15, 17, 0.16);
  color: #455468;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.notification {
  border-radius: 24px;
  border: none;
  height: 40px;
  width: 40px;
  background-color: inherit;
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.delete {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #dc2626 !important;
  align-items: center;
  height: fit-content;
  background: none;
  border: none;
  white-space: nowrap;
  gap: 4px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.iTag {
  color: #4174ff;
  background: rgba(27, 77, 255, 0.16);
}

.emptyTag {
  max-width: none;
}

.tagDivider {
  width: 1px;
  height: 24px;
  background: var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
}

.addPill {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 9999px;
  background: rgba(14, 15, 17, 0.06);
  color: #455468;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  cursor: pointer;
  border: none;

  &:hover {
    background: rgba(14, 15, 17, 0.1);
  }
}

.addPill1 {
  border-radius: var(--corner-radius-xsm, 4px);
  background: var(--transparent-dark-16, rgba(14, 15, 17, 0.16));
}

.aboutContainer {
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  margin-bottom: 8px;
}

.aboutContent {
  display: block;
  align-self: stretch;
  color: var(--Neutral-Slate-600, var(--foreground-neutral-secondary, #455468));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
