@use 'styles/media';

// DemodayCompletedView's .footer.
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 900px;
  margin-bottom: 40px;

  @include media.mobile-only {
    margin-top: 32px;
  }
}

.note {
  margin: 0;
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.2px;
  text-align: center;
}

.mail {
  color: var(--foreground-brand-secondary_inverted, #4174ff);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.2px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}
