@use 'styles/mixins';
@use 'styles/media';

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label {
  color: #475569;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  margin-bottom: 0.25rem;

  &.required:after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }

  &.secondary {
    color: var(--Text-Dark, #0f172a);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
  }
}

.input {
  display: flex;
  height: 44px;
  padding: 0 16px 0 0;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(203, 213, 225, 0.5);
  background: #fff;
  outline: none;

  &:focus-within {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #5e718d !important;
    box-shadow: 0 0 0 4px rgba(27, 56, 96, 0.12) !important;
  }

  &.error {
    border-color: var(--action-border-error-focus);

    input {
      color: var(--action-border-error-focus);
    }
  }
}

.inputContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1;
}

.inputElement {
  @include mixins.placeholder {
    color: #cbd5e1;
  }
  padding: 10px 12px;
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: #455468;

  @include media.mobile-only {
    min-height: 48px;
    padding: 0 16px;
    font-size: 16px; /* Prevents zoom on iOS */
  }
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fieldDescription {
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
  color: #878b94;
  margin-top: 0.25rem;

  &[data-focused] {
    color: #a0beff;
  }
}

.errorMsg {
  font-size: 10px;
  color: var(--action-border-error-focus);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 200% */
  margin-top: 0.25rem;
}

.counter {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: -0.2px;
  margin-top: 0.25rem;
}
