.data {
  display: flex;
  gap: 4px;

  color: var(--foreground-neutral-tertiary, #8897ae);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
}

.delimiter {
  color: #455468;

  &:last-child {
    display: none;
  }
}
