.root {
  display: flex;
  width: 292px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  border-radius: 12px;
  background: #fff;

  /* Card Shadow */
  box-shadow:
    0 0 1px 0 rgba(15, 23, 42, 0.12),
    0 4px 4px 0 rgba(15, 23, 42, 0.04);
}

.header {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
}
.body {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.2px;
}
.button {
  display: flex;
  padding: 8px var(--global-size-size-125, 10px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-zero, 0);
  align-self: stretch;
  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--action-border-neutral-light_normal, rgba(14, 15, 17, 0.16));
  background: var(--action-background-base-white, #fff);
  box-shadow:
    0 -2px 8px 0 var(--transparent-dark-2, rgba(14, 15, 17, 0.02)) inset,
    0 1px 2px 0 var(--transparent-dark-8, rgba(14, 15, 17, 0.08));

  color: var(--action-foreground-neutral-normal, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  &:hover {
    filter: brightness(98%);
  }
}
