.root {
  padding: 20px;
  margin: 0 auto;
  max-height: 98dvh;

  border-radius: 24px;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  position: relative;
}

.close {
  top: 12px;
  right: 12px;
  position: absolute;

  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 24px;
  background-color: rgba(14, 15, 17, 0.04);

  &:hover {
    border: 1px solid rgba(14, 15, 17, 0.04);
  }

  &:active {
    opacity: 0.8;
  }
}

.body {
  flex: 1;
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
}

.iconContainer {
  width: 52px;
  height: 52px;
  margin: 0 auto;

  border-radius: 52px;
  background-color: #f2f5ff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 26px;
  height: 26px;
  color: #1b4dff;
}

.description {
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;

  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;

  text-align: center;

  .title {
    color: var(--foreground-neutral-primary, #0a0c11);
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.4px;
  }
}

.footer {
  gap: 16px;
  display: grid;
  margin-top: 24px;
}

.footerBtns {
  gap: 8px;
  display: flex;
}

.btn {
  flex: 1;
}
