@use 'styles/media';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  width: 100%;
  max-width: 1420px;

  @include media.mobile-only {
    max-width: 100%;
  }
}

.title {
  color: var(--foreground-neutral-primary, #0A0C11);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
  letter-spacing: -1.5px;
  margin: 0;

  @include media.mobile-only {
    font-size: 24px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }
}

.description {
  color: var(--foreground-neutral-secondary, #455468);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.4px;
  max-width: 640px;

  @include media.mobile-only {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
  }
}

.link {
  color: #156FF7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
