.root {
  display: flex;
  align-items: center;

  border-radius: 4px;
}

.pin {
  width: 24px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 26px;
  background-color: #cff2d2;
  border-radius: 4px 0 0 4px;
}
