.root {
  gap: 2px;
  align-items: center;
  display: inline-flex;
  justify-content: center;

  padding: 2px 8px;
  border: 1px solid;
  border-radius: 26px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;

  min-width: 36px;
  box-sizing: border-box;
}

.default {
  background: var(--transparent-dark-2-percent, rgba(14, 15, 17, 0.02));
  border-color: var(--border-neutral-muted, rgba(27, 56, 96, 0.24));
  color: var(--foreground-neutral-secondary, #455468);
}

.brand {
  background: var(--transparent-brand-2-percent, rgba(27, 77, 255, 0.02));
  border-color: var(--border-brand-subtle, #aebfff);
  color: var(--foreground-brand-secondary_inverted, #4174ff);
}

.success {
  background: var(--transparent-success-2-percent, rgba(34, 197, 94, 0.02));
  border-color: var(--border-success-subtle, #86efac);
  color: var(--foreground-success-secondary, #16a34a);
}

.warning {
  background: var(--transparent-warning-2-percent, rgba(251, 191, 36, 0.02));
  border-color: var(--border-warning-subtle, #fde68a);
  color: var(--foreground-warning-secondary, #d97706);
}

.error {
  background: var(--transparent-error-2-percent, rgba(239, 68, 68, 0.02));
  border-color: var(--border-error-subtle, #fca5a5);
  color: var(--foreground-error-secondary, #dc2626);
}
