.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-block: 10px;

  border-bottom: 1px solid #E2E8F0;
}

.title {
  color: #0F172A;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

.left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
  color: #156FF7;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  display: flex;
  align-items: center;
  gap: 4px;
}