.husky {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4faff;
  flex: 1;
  position: relative;
  min-height: calc(100dvh - 80px);
}

.husky__container {
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.husky__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.husky__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .husky__container {
    /* width: 940px; */
    /* padding: 50px 0px; */
  }
}

@media (min-width: 1280px) {
  .husky__container {
    /* width: 1200px;   */
  }
}

@media (min-width: 1440px) {
  .husky__container {
    /* width: 1200px; */
  }
}

@media (min-width: 1920px) {
  .husky__container {
    /* width: 1678px; */
  }
}
