@import 'styles/media.scss';

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  scroll-margin-top: 180px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #0a0c11;
  margin: 0;

  @include breakpoint-1024 {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.75px;
  }
}

.sub {
  font-size: 14px;
  line-height: 20px;
  color: #455468;
  margin: -8px 0 0;
  max-width: 720px;
}
