@use 'styles/media';
@use 'styles/mixins';

.root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  //width: calc(100% + 48px);
  //margin-inline: -24px;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm, 12px) var(--spacing-lg, 20px) var(--spacing-lg, 20px) var(--spacing-lg, 20px);
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  z-index: 2;

  border-top: 1px solid var(--border-neutral-subtle, rgba(27, 56, 96, 0.12));
  background: #fff;

  @include media.tablet-landscape {
    display: none;
  }

  :global(.ql-editor) {
    max-height: 40dvh;
  }

  transition: transform 0.3s ease;

  &.hidden {
    transform: translateY(100%);
  }
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: 100%;

  //&:focus-within {
  //  :global(.ql-editor) {
  //    min-height: 60px !important;
  //  }
  //}
}

.replying {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .lbl {
    color: var(--foreground-neutral-secondary, #455468);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.2px;
  }

  .accent {
    color: var(--foreground-neutral-secondary, #455468);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2px;
  }

  button {
    color: var(--action-foreground-neutral-normal, #455468);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.2px;
  }
}

.Input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  background-color: transparent;
  color: var(--color-gray-900);

  display: flex;
  height: 40px;
  padding: 0 var(--spacing-3xs, 6px);
  align-items: center;
  gap: var(--spacing-zero, 0px);
  align-self: stretch;
  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--action-border-neutral-light_normal, rgba(14, 15, 17, 0.16));
  background: var(--background-base-white, #fff);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px var(--transparent-dark-6, rgba(14, 15, 17, 0.06));

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}

.submitBtn {
  display: flex;
  padding: 9px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-zero, 0px);

  border-radius: var(--corner-radius-sm, 6px);
  background: var(--action-background-brand-normal, #1b4dff);

  /* Button/primay/fill */
  box-shadow:
    0px 1px 3px 0px var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset,
    0px 4px 6px 0px var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset,
    0px 1px 5px 0px var(--transparent-brand-16, rgba(27, 77, 255, 0.16));
}

.Label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  color: #0f172a;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  .primary {
    color: var(--foreground-neutral-secondary, #455468);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.2px;

    > a {
      color: #156ff7;
    }
  }

  button {
    pointer-events: none;
  }
}
