@use 'styles/mixins';
@use 'styles/media';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-size: cover;
  padding: 12px 12px 24px;

  @include media.tablet-landscape {
    padding: 24px 24px 48px;
  }
}

.heroImage {
  margin: 0 auto;
  width: 250px;
  height: calc(100vh * 0.2); // 220px;
  display: none;

  @include media.tablet-landscape {
    width: 428px;
    max-height: 375px;
    display: block;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}

.list {
  list-style: none;
  padding: 12px 0 0 0;
  margin: auto 0 0 0;
  gap: clamp(12px, 4vw, 24px); // 24px;
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  @include media.tablet-landscape {
    display: flex;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 8px;
  border-left: 8px solid rgba(255, 255, 255, 0.8);
}

.primary {
  color: #fff;
  font-size: clamp(18px, 5vw, 24px); // 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 120.462%; /* 36.139px */
  text-transform: uppercase;

  @include media.tablet-landscape {
    font-size: 30px;
  }
}

.secondary {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include media.tablet-landscape {
    font-size: 18px;
  }
}
