@use 'styles/media';
@use 'styles/mixins';

.container {
  padding-bottom: 120px;

  @include media.tablet-landscape {
    max-width: 852px;
    margin: 0 auto;
  }
}

.root {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  align-items: flex-start;
  align-self: stretch;
  background: #FFF;
  max-width: 852px;
  margin-inline: auto;

  @include media.tablet-landscape {
    border-radius: 12px;
    border: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));
    background: var(--background-base-white, #FFF);
    box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
    padding: 24px;
    margin-bottom: 16px;
  }
}

.back {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--foreground-neutral-primary, #0A0C11);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 135% */
  letter-spacing: -0.4px;
  padding-block: 8px;

  @include media.tablet-landscape {
    display: none;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  margin-top: 16px;

  @include media.tablet-landscape {
    margin-top: 0;
  }
}

.topicBadge {
  display: flex;
  padding: var(--spacing-5xs, 2px) var(--spacing-3xs, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5xs, 2px);
  border-radius: var(--corner-radius-Full-round, 12px);
  background: var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.title {
  color: var(--foreground-neutral-primary, #0A0C11);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.4px;
  margin-top: 8px;
  width: 100%;
  word-break: break-all;
}

.sub {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;

  .subItem {
    display: flex;
    gap: 4px;

    color: var(--foreground-neutral-tertiary, #8897AE);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.2px;

    &.button {
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  margin-block: 16px;
  gap: 12px;
}

.Avatar {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 100%;
  user-select: none;
  font-weight: 500;
  color: var(--color-gray-900);
  background-color: var(--Neutral-Slate-600);
  font-size: 1rem;
  line-height: 1;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.Image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Fallback {
  @include mixins.ellipse-text;
  @include mixins.centralize;
  display: flex;
  max-width: 40px;
  min-width: 40px;
  height: 100%;
  width: 100%;
  font-size: 10px;
  color: #fff;
}

.name {
  color: var(--foreground-neutral-primary, #0A0C11);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 150% */
  letter-spacing: -0.2px;
}

.position {
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.2px;

  display: none;
}

.time {
  color: var(--foreground-neutral-tertiary, #8897AE);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.2px;
}

.col {
  display: flex;
  flex-direction: column;
}

.inline {
  display: flex;
  align-items: center;
  gap: 4px;
}

.postContent {
  color: var(--foreground-neutral-primary, #0A0C11);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
  width: 100%;

  ul, ol {
    padding: revert;
  }

  img {
    max-width: 100%;
  }
}

.divider {
  margin-top: 24px;
  height: 1px;
  width: 100%;
  background: #E2E8F0;

  @include media.tablet-landscape {
    display: none;
  }
}