.description {
  font-size: 13px;
  line-height: 22px;
  font-weight: normal;
  color: #0f172a;
  word-break: break-word;
}

.toggle {
  cursor: pointer;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  color: #156ff7;
  white-space: nowrap;
}
