@import 'components/form/FormSwitch/FormSwitch.module';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-radius: var(--corner-radius-xl, 12px);
  border: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));
  background: var(--background-base-white, #fff);

  box-shadow: 0 1px 2px 0 var(--transparent-dark-6, rgba(14, 15, 17, 0.06));
}

.header {
  display: flex;
  padding: var(--spacing-sm, 12px) var(--spacing-sm, 12px) var(--spacing-sm, 12px) var(--spacing-md, 16px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-bottom: 1px solid var(--border-neutral-xsubtle, rgba(27, 56, 96, 0.06));

  color: var(--foreground-neutral-secondary, #455468);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
}

.content {
  display: flex;
  padding: var(--spacing-md, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md, 16px);
  align-self: stretch;
}

.toggleSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4xs, 4px);
  align-self: stretch;

  padding: var(--spacing-md, 16px);
  border-radius: var(--corner-radius-xl, 12px);
  border: 1px solid var(--border-neutral-subtle, rgba(27, 56, 96, 0.12));
  background: var(--background-base-white, #fff);
}

.toggle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--foreground-neutral-secondary, #455468);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.3px;
}

.desc {
  color: var(--foreground-neutral-tertiary, #8897ae);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.2px;
}

