/* ==========================================================================
   Rounds Page Styles
   ========================================================================== */

.pastRound {
  width: 100%;
  min-height: 100vh;
}
