// Dialog styles
.dialog {
  border-radius: 24px;
  border: none;
  width: 656px;
  min-height: 220px;
  margin: auto;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.box {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow:
    0 10px 20px -5px rgba(14, 15, 17, 0.06),
    0 20px 65px -5px rgba(14, 15, 17, 0.06);
}

.infoWrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 220px;
}

// Header styles
.header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.headerTitle {
  color: #0f172a;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

// Error message styles
.errorBox {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #dd2c5a1a;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
}

.errorText {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #0f172a;
}

// Description text
.descriptionText {
  font-weight: 400;
  padding: 10px 0 0;
  font-size: 14px;
  line-height: 20px;
}

// Actions
.actions {
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.closeActionButton {
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #156ff7;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #156ff7;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #1254cc;
  }
}

// Access denied variant styles
.accessDeniedWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.icon {
  margin: 0 auto 16px;
  display: flex;
  padding: 10px;
  width: fit-content;
  align-items: flex-start;
  border-radius: 9999px;
  background: #f2f5ff;
}

.title {
  color: #0a0c11;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}

.description {
  color: #455468;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
}

.cta {
  display: flex;
  max-width: 220px;
  width: 100%;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid rgba(14, 15, 17, 0.12);
  background: #1b4dff;
  box-shadow:
    0 1px 3px 0 rgba(255, 255, 255, 0.32) inset,
    0 4px 6px 0 rgba(255, 255, 255, 0.06) inset,
    0 1px 5px 0 rgba(27, 77, 255, 0.16);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-decoration: none;

  &:hover {
    background: #1645e0;
  }
}

// Desktop styles
@media (min-width: 1024px) {
  .actions {
    justify-content: flex-end;
  }

  .closeActionButton {
    width: 86px;
  }

  .descriptionText {
    text-align: left;
    width: 600px;
  }

  .box {
    flex-direction: row;
    max-height: 598px;
    width: 656px;
    overflow: hidden;
  }
}
