.icon {
  margin: 0 auto 16px;
  display: flex;
  padding: 10px;
  width: fit-content;
  align-items: flex-start;
  border-radius: var(--corner-radius-Full-round, 9999px);
  background: var(--background-brand-soft-surface, #F2F5FF);
}

.title {
  color: var(--foreground-neutral-primary, #0A0C11);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px; /* 135% */
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}

.description {
  color: var(--foreground-neutral-secondary, #455468);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.2px;
  margin-bottom: 24px;
}

.cta {
  display: flex;
  max-width: 220px;
  width: 100%;
  padding: 10px var(--global-size-size-200, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-zero, 0);
  flex: 1 0 0;
  margin: 0 auto;

  border-radius: var(--corner-radius-md, 8px);
  border: 1px solid var(--transparent-dark-12, rgba(14, 15, 17, 0.12));
  background: var(--action-background-brand-normal, #1B4DFF);

  /* Button/primay/fill */
  box-shadow: 0 1px 3px 0 var(--transparent-light-32, rgba(255, 255, 255, 0.32)) inset, 0 4px 6px 0 var(--transparent-light-6, rgba(255, 255, 255, 0.06)) inset, 0 1px 5px 0 var(--transparent-brand-16, rgba(27, 77, 255, 0.16));

  color: var(--action-foreground-base-inverted_white, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;
}