.root {
  display: flex;
  align-items: center;
  gap: 8px;

  border-bottom: 1px solid #e2e8f0;
}

.title {
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 222.222% */
}
