:root {
  --Neutral-White: #fff;
  --Neutral-Slate-50: #f8fafc;
  --Neutral-Slate-200: #e2e8f0;
  --Neutral-Slate-300: #cbd5e1;
  --Neutral-Slate-600: #475569;
  --Neutral-Slate-900: #0f172a;

  --action-border-error-focus: #ff574d;
}
