.root {
  width: inherit;
  height: inherit;
}

.web {
  z-index: 1;
  display: none;
  background: #fff;

  @media (min-width: 1024px) {
    display: unset;
    width: inherit;
    height: inherit;
  }
}
