@use '@/styles/media';

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.focusAreasList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
