@use 'styles/media';

.root {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  background: #156ff7;
  overflow: hidden;
  box-shadow:
    0px 0px 1px 0px rgba(15, 23, 42, 0.12),
    0px 4px 4px 0px rgba(15, 23, 42, 0.04);

  @include media.tablet-landscape {
    max-width: 328px;
    min-width: 328px;
  }
}

.top {
  position: relative;
  //background-color: red;
  background: #156ff7;
  background-size: contain;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 124px;
  border-radius: 16px 16px 0 0;
}

.mainTitle {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 142.857% */
  letter-spacing: 0.28px;
  text-transform: uppercase;
  max-width: 296px;
  white-space: wrap;
}

.content {
  position: relative;
  background: #fff;
  border-radius: 16px 16px 0 0;
  padding: 16px;
  margin-top: -16px;
}

.desc {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.14px;
}

.primaryBtn {
  border-radius: 8px;
  border: 1px solid var(--Neutral-Slate-300, #cbd5e1);
  background: var(--Button-surface-brand-button, #156ff7);

  /* Button Shadow */
  box-shadow: 0px 1px 1px 0px rgba(15, 23, 42, 0.08);

  display: flex;
  height: 48px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  color: var(--Text-text-lightest, #fff);
  font-feature-settings:
    'liga' off,
    'clig' off;

  /* Body 2/Medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  position: relative;

  .glow {
    position: absolute;
    right: -12px;
    top: -12px;

    animation: glowPulse 1.5s infinite ease-in-out;
    pointer-events: none;
  }
}

.secondaryBtn {
  display: flex;
  height: 32px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Neutral-White, #fff);
}

.controls {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@keyframes glowPulse {
  0% {
    opacity: 0.8;
    transform: scale(1);
    filter: drop-shadow(0 0 6px rgba(21, 111, 247, 0.6));
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(21, 111, 247, 0.8));
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
    filter: drop-shadow(0 0 6px rgba(21, 111, 247, 0.6));
  }
}
