@import 'components/form/FormSwitch/FormSwitch.module';

.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  color: var(--foreground-neutral-secondary, #455468);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.2px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Switch styles imported from FormSwitch
.switch {
  @extend .Switch;
}

.thumb {
  @extend .Thumb;
}

.dot {
  @extend .dot;
}
