.header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.headerTitle {
  color: #0f172a;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.errorBox {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #dd2c5a1a;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
}

.errorText {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #0f172a;
}

.descriptionText {
  font-weight: 400;
  padding: 10px 0 0;
  font-size: 14px;
  line-height: 20px;
}

.actions {
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0 0 8px 8px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.closeActionButton {
  padding: 8px 24px;
  border-radius: 8px;
  border: 1px solid #156ff7;
  color: white;
  font-size: 14px;
  font-weight: 500;
  background-color: #156ff7;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #1254cc;
  }
}

@media (min-width: 1024px) {
  .actions {
    justify-content: flex-end;
  }

  .closeActionButton {
    width: 86px;
  }

  .descriptionText {
    text-align: left;
    width: 600px;
  }
}
