.accessDeniedWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  margin: 0 auto 16px;
  display: flex;
  padding: 10px;
  width: fit-content;
  align-items: flex-start;
  border-radius: 9999px;
  background: #f2f5ff;
}

.title {
  color: #0a0c11;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}

.description {
  color: #455468;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
}

.cta {
  display: flex;
  max-width: 220px;
  width: 100%;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid rgba(14, 15, 17, 0.12);
  background: #1b4dff;
  box-shadow:
    0 1px 3px 0 rgba(255, 255, 255, 0.32) inset,
    0 4px 6px 0 rgba(255, 255, 255, 0.06) inset,
    0 1px 5px 0 rgba(27, 77, 255, 0.16);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-decoration: none;

  &:hover {
    background: #1645e0;
  }
}
